﻿@{
    ViewBag.Title = "Contact";
}



<head>
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">>
</head>


<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center" ;">
            <div class="col-md-6 col-lg-7">
                <div class="login-wrap py-5">
                    <h3 class="text-center mb-0">Contactenos</h3>
                    <p class="text-center">Toda la informacion necesaria</p>
                    <form action="#" class="login-form">

                        <div class="col-lg-auto col-md-8 px-lg-3 px-0">
                            <div class=" ml-lg-5">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>E-mail</h3>
                                        <p>Owllearningcr@gmail.com</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>Administracion </h3>
                                        <p>+(506)-8705-0829</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>Informacion general </h3>
                                        <p>+(506)-6014-0605</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>Soporte </h3>
                                        <p>+(506)-7200-4713</p>
                                    </div>
                                </div>
                                @* Por si tiene que poner mas info
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>no se </h3>
                                        <p>aaaaaaaaaaaaaaaa</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <h3>no se </h3>
                                        <p>aaaaaaaaaaaaaaaa</p>
                                    </div>
                                </div>
                                *@
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


