<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/launchpad-static/launchpad.js"></script>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <style></style>
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="home" />
    <div class="container-center-horizontal">
        <div class="home screen">
            <img class="trazado-19-xl4bh6" src="~/img/trazado-19@1x.png" />
            <div class="grupo-9-xl4bh6">
                <div class="banner-gH8r1f">
                    <div class="rectngulo-7-dA1pJV"></div>
                    <img class="whats-app-image-09-at-115113-am-dA1pJV"
                         src="~/img/whatsapp-image-2021-10-09-at-11-51-13-am@1x.png" />
                    <img class="trazado-1-dA1pJV" src="~/img/trazado-1@1x.png" />
                    <div class="mejora-tu-ingle-un-mejor-futuro-dA1pJV">
                        &#33;Mejora Tu ingl&eacute;s!<br />con nuestros cursos de ingl&eacute;s<br />vamos por un mejor futuro
                    </div>
                </div>
            </div>
            <div class="grupo-12-xl4bh6" id="grupo-12">
                <div class="acerca-oushO9">
                    <div class="rectngulo-19-VixJG6 border-1px-dove-gray"></div>
                    <div class="acerca-de-nosotros-VixJG6">Acerca de nosotros</div>
                    <div class="visioacuten-VixJG6">Visi&oacute;n</div>
                    <div class="buscamos-ensent-que-se-enfoca-e-VixJG6">
                        Buscamos ense&ntilde;ar el idioma mediante una plataforma <br />sencilla de utilizar y de accesoa todo
                        el mundo, con materia<br />audiovisual llamativo y un servicio personalizado de calidad <br />Owl Learning
                        es una empresa de ense&ntilde;anza de ingles que <br />se enfoca en el servicio personalizado<br />de
                        la ense&ntilde;anza
                    </div>
                    <div class="buscamos-ensent-s-que-se-enfoca-VixJG6">
                        Buscamos ense&ntilde;ar el idioma mediante una plataforma <br />sencilla de utilizar y de acceso a
                        todo el mundo, con materia<br />audiovisual llamativo y un servicio personalizado de calidad <br />Owl
                        Learning es una empresa de ense&ntilde;anza de ingles que <br />se enfoca en el servicio
                        personalizado<br />de la ense&ntilde;anza
                    </div>
                    <div class="misiacuteon-VixJG6">Mis&iacute;on</div>
                </div>
            </div>

            <div class="grupo-11-xl4bh6">
                @if (Request.IsAuthenticated)
                {

                    <div class="Pago-EFNLaX">
                        <img class="trazado-18-LXqAnD" src="~/img/trazado-18@1x.png" />
                        <img class="trazado-2-LXqAnD" src="~/img/trazado-2@1x.png" />
                        <h1 style="color: #ffffff; text-align: center; " class="regiacutestrate-matriacutecula-LXqAnD">
                            M&eacute;todo <br />De<br />Pago
                        </h1>
                        <a href="@Url.Action("Registration","Account")">
                            @if (!Request.IsAuthenticated)
                            {
                                <div class="button-raised-f-disabled-theme-LXqAnD">
                                    <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                        <span class="mdc-button__ripple"></span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><link href="@Url.Action("Registration","Account")" class="mdc-button__label" />Registarse
                                    </button>
                                    <script>
                                        mdc.autoInit();
                                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-LXqAnD .mdc-button"));
                                    </script>
                                </div>
                            }
                        </a>
                    </div>
                }
                else
                {

                    <div class="registro-EFNLaX">
                        <img class="trazado-18-LXqAnD" src="~/img/trazado-18@1x.png" />
                        <img class="trazado-2-LXqAnD" src="~/img/trazado-2@1x.png" />
                        <img class="owl-principiante-LXqAnD" src="~/img/owl-principiante@1x.png" />
                        <h1 style="color: #ffffff; text-align: center; " class="regiacutestrate-matriacutecula-LXqAnD">
                            Reg&iacute;strate<br />Ahora<br />y obt&eacute;n un 50% de descuento <br />en tu
                            matr&iacute;cula
                        </h1>
                        <a href="@Url.Action("Registration","Account")">
                            @if (!Request.IsAuthenticated)
                            {
                                <div class="button-raised-f-disabled-theme-LXqAnD">
                                    <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                        <span class="mdc-button__ripple"></span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><link href="@Url.Action("Registration","Account")" class="mdc-button__label" />Registarse
                                    </button>
                                    <script>
                                        mdc.autoInit();
                                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-LXqAnD .mdc-button"));
                                    </script>
                                </div>
                            }

                        </a>
                    </div>

                };
            </div>
            <div class="grupo-13-xl4bh6">
                <div class="redes-sociales-VDuWKi">
                    <div class="rectngulo-20-pydT6r border-1px-dove-gray"></div>
                    <div class="redes-sociales-pydT6r">Redes Sociales</div>
                    <a href="https://facebook.com"><img class="facebook-pydT6r" src="~/img/facebook@1x.png" /> </a><a href="https://instagram.com"><img class="instagram-pydT6r" src="~/img/instagram@1x.png" /> </a><a href="https://whatsapp.com"><img class="whatsapp-pydT6r" src="~/img/whatsapp@1x.png" /> </a>
                </div>
            </div>
            <div class="grupo-14-xl4bh6">
                <div class="rectngulo-18-r55cb7 border-1px-willow-grove"></div>
                <div class="owl-learning-r55cb7">OWL LEARNING</div>
                <div class="tu-mejor-opcioa-anes-de-estudio-r55cb7">
                    Tu mejor opci&oacute;n para estudiar ingl&eacute;s con profesores
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;certificados y planes de estudio
                </div>
                <div class="owl-learning-to-chos-reservados-r55cb7">Owl Learning - Todos los derechos reservados</div>
                <div class="rectngulo-22-r55cb7 border-1px-schist"></div>
            </div>
            <div class="grupo-10-xl4bh6" id="grupo-10">
                <div class="rectngulo-9-8oTEnd border-1px-dove-gray"></div>
                <div class="nuestros-cursos-8oTEnd">Nuestros Cursos</div>
                <div class="intermedio-8oTEnd">
                    <div class="rectngulo-11-mf04sL border-1px-willow-grove"></div>
                    <img class="owl-intermedio-mf04sL" src="~/img/owl-intermedio@1x.png" />
                </div>
                <div class="avanzado-8oTEnd">
                    <div class="rectngulo-12-UxUrko border-1px-willow-grove"></div>
                    <img class="owlavanzado-UxUrko" src="~/img/owl-avanzado@1x.png" />
                </div>
                <a href="@Url.Action("IndexAvanzado","Courses")">
                    <div class="button-raised-f-disabled-theme-8oTEnd smart-layers-pointers">
                        <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                            <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Avanzado</span>
                        </button>
                        <script>
                            mdc.autoInit();
                            new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-8oTEnd .mdc-button"));
                        </script>
                    </div>
                </a>
                <div class="grupo-4-8oTEnd">
                    <div class="rectngulo-10-Td7SFA border-1px-willow-grove"></div>
                    <img class="owl-principiante-Td7SFA" src="~/img/owl-principiante-1@1x.png" />
                    <a href="@Url.Action("IndexPrincipiante","Courses")">
                        <div class="button-raised-f-disabled-theme-Td7SFA smart-layers-pointers">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Principiante</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-Td7SFA .mdc-button"));
                            </script>
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("IndexIntermedio","Courses")">
                    <div class="button-raised-f-disabled-theme-Wir5OC smart-layers-pointers">
                        <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                            <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Intermedio</span>
                        </button>
                        <script>
                            mdc.autoInit();
                            new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-Wir5OC .mdc-button"));
                        </script>
                    </div>
                </a>
            </div>



            <div class="grupo-35-xl4bh6">



                @if (Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Salir","Account")">
                        <div class="button-raised-f-disabled-theme-B9C28C">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">logout</i><span class="mdc-button__label">Salir</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-B9C28C .mdc-button"));
                            </script>
                        </div>
                    </a>

                    <a href="@Url.Action("Index","UserProfile")">
                        <img class="outlinepersonwhite48dp-Zo5NGn" src="~/img/outline-person-white-48dp@1x.png" />
                    </a>
                }
                else
                {

                    <a href="@Url.Action("Login", "Account")">
                        <div class="button-raised-f-disabled-theme-Zo5NGn">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">login</i><span class="mdc-button__label">Iniciar</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-Zo5NGn .mdc-button"));
                            </script>
                        </div>
                    </a>
                    <a href="@Url.Action("Registration", "Account")">
                        <div class="button-raised-f-disabled-theme-BTtoVQ">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><span class="mdc-button__label">Registarse</span>

                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-BTtoVQ .mdc-button"));
                            </script>
                        </div>
                    </a>
                };

                @if (Request.IsAuthenticated)
                {


                    if (!Session["role"].ToString().Equals("3"))
                    {
                        <a>
                            <div class="loyout-Zo5NGn">
                                <a href="@Url.Action("Index", "Admin")" id="Adminlicnk" onclick="window.event.stopPropagation()">
                                    <div class="administracioacuten-RBTQjz smart-layers-pointers montserrat-normal-white-25px">
                                        Administraci&oacute;n
                                    </div>
                                </a>
                            </div>
                        </a>
                    }
                }
                <div class="loyout-BTtoVQ">
                    <a href="#grupo-10"><div class="cursos-xKYaxx smart-layers-pointers montserrat-normal-white-25px">Cursos</div></a>
                </div>

                <a href="#grupo-12">
                    <div class="loyout-B9C28C">
                        <div class="nosotros-LignAA smart-layers-pointers montserrat-normal-white-25px">Nosotros</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-center-horizontal">
        <div class="home-responsive screen">
            <div class="banner-6g9fvD">
                <div class="rectngulo-7-YvVXtI"></div>
                <img class="owlavanzado-YvVXtI" src="~/img/owl-avanzado-1@1x.png" />
                <img class="trazado-1-YvVXtI" src="~/img/trazado-1-1@1x.png" />
                <div class="mejora-tu-ingle-un-mejor-futuro-YvVXtI">
                    ¡Mejora Tu ingl&eacute;s!<br />con nuestros cursos de ingl&eacute;s<br />vamos por un mejor futuro
                </div>
            </div>
            <div class="acerca-6g9fvD">
                <div class="rectngulo-19-7ar8sl border-1px-dove-gray"></div>
                <div class="acerca-de-nosotros-7ar8sl">Acerca de nosotros</div>
                <div class="vision-7ar8sl">Vision</div>
                <div class="buscamos-ensear-n-el-servicio-p-7ar8sl">
                    Buscamos enseñar el idioma mediante una plataforma <br />sencilla de utilizar y de accesoa todo el mundo,
                    con materia<br />audiovisual llamativo yun servicio personalizado de calidad <br />Owl Learning es una
                    empresa de enseñanza de ingles que <br />se enfoca en el servicio personalizado<br />de la enseñanza
                </div>
                <div class="buscamos-ensear-n-el-servicio-p-8OcLuU">
                    Buscamos enseñar el idioma mediante una plataforma <br />sencilla de utilizar y de accesoa todo el mundo,
                    con materia<br />audiovisual llamativo yun servicio personalizado de calidad <br />Owl Learning es una
                    empresa de enseñanza de ingles que <br />se enfoca en el servicio personalizado<br />de la enseñanza
                </div>
                <div class="mision-7ar8sl">Mision</div>
            </div>
            <div class="redes-sociales-6g9fvD">
                <div class="rectngulo-20-xmsuBn border-1px-dove-gray"></div>
                <div class="redes-sociales-xmsuBn">Redes Sociales</div>
                <a href="https://facebook.com"><img class="facebook-xmsuBn" src="~/img/facebook-1@1x.png" /> </a><a href="https://facebook.com"><img class="instagram-xmsuBn" src="~/img/instagram-1@1x.png" /> </a><a href="https://facebook.com"><img class="whatsapp-xmsuBn" src="~/img/whatsapp-1@1x.png" /> </a>
            </div>
            <div class="footer-6g9fvD">
                <div class="rectngulo-18-Mon6Hy border-1px-willow-grove"></div>
                <div class="rectngulo-22-Mon6Hy border-1px-schist"></div>
                <div class="owl-learning-Mon6Hy">OWL LEARNING</div>
                <div class="tu-mejor-opcion-anes-de-estudio-Mon6Hy">
                    Tu mejor opcion para estudiar ingles con profesores <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;certificados y
                    planes de estudio
                </div>
                <div class="owl-learning-to-chos-reservados-Mon6Hy">Owl Learning - Todos los derechos reservados</div>
            </div>
            <div class="grupo-6-6g9fvD">
                <div class="grupo-17-xGD0b5">
                    <div class="cursos-9hxCHx">
                        <div class="rectngulo-9-GrAs7B border-1px-dove-gray"></div>
                        <div class="nuestros-cursos-GrAs7B">Nuestros Cursos</div>
                        <div class="intermedio-GrAs7B">
                            <img class="trazado-5-nkkZsn" src="~/img/trazado-5@1x.png" />
                            <img class="owl-intermedio-nkkZsn" src="~/img/owl-intermedio-1@1x.png" />
                        </div>
                        <div class="avanzado-GrAs7B">
                            <div class="rectngulo-12-BM1AYU border-1px-willow-grove"></div>
                            <img class="owlavanzado-BM1AYU" src="~/img/owl-avanzado-2@1x.png" />
                        </div>
                        <div class="principiante-GrAs7B">
                            <div class="rectngulo-10-wV9pxL border-1px-willow-grove"></div>
                            <img class="owl-principiante-wV9pxL" src="~/img/owl-principiante-2@1x.png" />
                        </div>
                    </div>
                    <a href="https://a">
                        <div class="button-raised-f-disabled-theme-9hxCHx smart-layers-pointers">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Principiante</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-9hxCHx .mdc-button"));
                            </script>
                        </div>
                    </a><a href="https://a">
                        <div class="button-raised-f-disabled-theme-nDOACQ smart-layers-pointers">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Intermedio</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-nDOACQ .mdc-button"));
                            </script>
                        </div>
                    </a><a href="https://a">
                        <div class="button-raised-f-disabled-theme-FMuWxj smart-layers-pointers">
                            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Avanzado</span>
                            </button>
                            <script>
                                mdc.autoInit();
                                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-FMuWxj .mdc-button"));
                            </script>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grupo-7-6g9fvD">
                <div class="registro-8clu7T">
                    <img class="trazado-2-NCMWFx" src="~/img/trazado-2-1@1x.png" />
                    <div class="regiacutestrate-matriacutecula-NCMWFx">
                        Reg&iacute;strate<br />Ahora<br />y obt&eacute;n un 50% de descuento <br />en tu
                        matr&iacute;cula
                    </div>
                </div>
                <div class="button-raised-f-disabled-theme-8clu7T smart-layers-pointers">
                    <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><span class="mdc-button__label">Registarse</span>
                    </button>
                    <script>
                        mdc.autoInit();
                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-8clu7T .mdc-button"));
                    </script>
                </div>
            </div>
            <div class="grupo-31-6g9fvD">
                <div class="loyout-c63Bac">
                    <div class="rectngulo-1-cOx0xE border-1px-willow-grove"></div>
                </div>
                <a href="javascript:ShowOverlay('sidebar', 'animate-appear');">
                    <img class="outlinemenuwhite48dp-c63Bac" src="~/img/outline-menu-white-48dp@1x.png" />
                </a>
            </div>
            <img class="outlinekeyboar-wupblack48dp-6g9fvD" src="~/img/outline-keyboard-arrow-up-black-48dp@1x.png" />
        </div>
    </div>





    <div id="overlay-sidebar" class="overlay" style="min-height: 3000px">
        <div class="container-center-horizontal">
            <div class="sidebar screen">
                <div class="grupo-3-CIl6yv">
                    <img class="trazado-6-kq2NRx" src="~/img/trazado-6@1x.png" />
                    <div class="iniciar-sesion-kq2NRx">Iniciar sesion</div>
                    <div class="registrarse-kq2NRx">Registrarse</div>
                    <div class="administracioacuten-kq2NRx">Administraci&oacute;n</div>
                </div>
                <img class="trazado-8-CIl6yv" src="~/img/trazado-8@1x.png" />
                <div class="rectngulo-9-CIl6yv border-1px-dove-gray"></div>
                <div class="grupo-30-CIl6yv">
                    <div class="loyout-uUGC5p">
                        <div class="rectngulo-1-zaBTD1 border-1px-willow-grove"></div>
                    </div>
                    <a href="javascript:HideOverlay('sidebar', 'animate-disappear');">
                        <img class="outlineclosewhite48dp-uUGC5p" src="~/img/outline-close-white-48dp@1x.png" />
                    </a>
                </div>
                <a href="registrarse.html">
                    <div class="button-raised-f-disabled-theme-CIl6yv">

                        <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><span class="mdc-button__label">Registarse</span>
                        </button>

                        <script>
                            mdc.autoInit();
                            new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-CIl6yv .mdc-button"));
                        </script>
                    </div>
                </a><a href="loguin.html">
                    <div class="button-raised-f-disabled-theme-r2TXOb">
                        <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">login</i><span class="mdc-button__label">Iniciar </span>
                        </button>
                        <script>
                            mdc.autoInit();
                            new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-r2TXOb .mdc-button"));
                        </script>
                    </div>
                </a>
                <a href="@Url.Action("Salir","Account")">
                    <div class="grupo-5-CIl6yv">
                        <div class="elipse-1-Gzdgxh border-1px-dove-gray"></div>
                        <img class="outlineaccount-rclewhite48dp-Gzdgxh" src="~/img/outline-account-circle-white-48dp@1x.png" />
                    </div>
                </a>
                <div class="button-raised-f-disabled-theme-xExl5C">
                    <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">logout</i><span class="mdc-button__label">Salir</span>
                    </button>
                    <script>
                        mdc.autoInit();
                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-xExl5C .mdc-button"));
                    </script>
                </div>
            </div>
        </div>
    </div>





    <script>
        var overlay_id = "overlay-sidebar";
        document.getElementById(overlay_id).addEventListener(
            "click",
            function (event) {
                var overlay_id = "overlay-sidebar";
                var e = event || window.event;
                var overlayElement = document.getElementById(overlay_id);
                var overlayContainer = overlayElement.getElementsByClassName("sidebar");
                var clickedDiv = e.toElement || e.target;
                var dismissButton = clickedDiv.parentElement.id == overlay_id;
                var clickOutsideOverlay = false;
                if (overlayContainer.length > 0) {
                    clickOutsideOverlay = !overlayContainer[0].contains(clickedDiv) || overlayContainer[0] == clickedDiv;
                }
                if (dismissButton || clickOutsideOverlay) {
                    HideOverlay("sidebar", "animate-disappear");
                }
            },
            false
        );
    </script>
    <script>
        ShowOverlay = function (overlayName, animationName) {
            overlayName = "overlay-" + overlayName;
            var cssClasses = document.getElementById(overlayName).className.split(" ");
            var last = cssClasses.slice(-1)[0];
            if (last.lastIndexOf("animate") == -1) {
                document.getElementById(overlayName).className =
                    document.getElementById(overlayName).className + " " + animationName;
            }
            if (window.loadAsyncSrc != undefined) {
                loadAsyncSrc();
            }
        };
        HideOverlay = function (overlayName, animationName) {
            overlayName = "overlay-" + overlayName;
            var cssClasses = document.getElementById(overlayName).className.split(" ");
            var last = cssClasses.slice(-1)[0];
            if (last.lastIndexOf("animate") != -1) {
                cssClasses.splice(-1);
                cssClasses.push(animationName);
                document.getElementById(overlayName).className = cssClasses.join(" ");

                cssClasses.splice(-1);
                setTimeout(function () {
                    document.getElementById(overlayName).className = cssClasses.join(" ");
                }, 1100);
            }
            var vids = document.getElementsByTagName("video");
            if (vids) {
                for (var i = 0; i < vids.length; i++) {
                    var video = vids.item(i);
                    video.pause();
                }
            }
        };
    </script>
</body>
</html>
