﻿@model mysqltest.Models.course_type

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

    <div class=" row justify-content-center">
        <div class=" col-lg-8 crud-general2 screen ">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.course_type_id)


        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-8 px-lg-3 pt-4 card" style=" border: ; border-color: #667b68;">
                <div class="container">


                    <div class="form-horizontal">
                        <h2 style="text-align: center;">Eliminar tipo curso</h2>
                    </div>
                    <hr />

                    <table class="table table-striped table-bordered " style="background-color: #D2DCCD;  margin-top: 4% ">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th>Identificador</th>
                                <th>Tipo de Curso</th>
                            </tr>
                        </thead>

                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(model => model.course_type_id, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.name, new { @class = "form-control" })
                            </td>
                        </tr>

                    </table>
                    <div class="form-group pb-3" style="margin-top:7%">
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","CourseType")">Regresar</a>
                        <input style=" margin-left: " type="submit" value="Eliminar" class="btn btn-outline-danger" />
                    </div>
                </div>

            </div>
        </div>


    }


</body>
</html>