﻿@*@model IEnumerable<mysqltest.Models.course_type>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<course_type>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tipos de cursos</title>
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />


    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }

        .myclass:hover {
            color: white;
        }
    </style>


    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "searching": false // false to disable search (or any other option)
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("Index","Courses")">
                        <div class="registrarse">Cursos</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78;" class="text-center">ADMINISTRACIÓN DE TIPOS DE CURSO</h2>

        <div class="row g-0" style="margin-top:2%; margin-left:4%;">

            <div class="col-md-9">
                <a id="VolvertipoCurso" class="btn btn-outline-dark" href="@Url.Action("Index", "Admin")"><span>Regresar</span></a>
                @if (ViewBag.role == 1)
                {
                    <a id="CreartipoCurso" class="main_nav_item btn btn-outline-dark" href="@Url.Action("Create","CourseType")"><span>Crear nuevo tipo de curso</span></a>
                }
            </div>

            <div class="col-md-3">

                <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                    <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

                </form>
            </div>

        </div>


        <div style=" width: 95%; margin-left: 3%;">
            <table class="table table-hover" id="myTable">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Identificador</th>
                        <th>Tipo de Curso</th>
                        <th colspan="3">
                            Acciones
                        </th>

                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.course_type_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            <a id="" class="btn btn-outline-dark" href="@Url.Action("Edit","CourseType", new { id = item.course_type_id })"><span>Editar</span></a>
                        </td>
                        <td>
                            <a id"Crearhorario" class="btn btn-outline-dark" href="@Url.Action("Delete","CourseType", new { id = item.course_type_id })"><span>Eliminar</span></a>
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="row g-0" style="padding: 1%;">
            <div class="col-md-6">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="col-md-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

    </div>

    </body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>