﻿@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)
        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-lg-3 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="form-horizontal">
                    <h3 class="text-center mb-0">Ingresa una nueva contraseña</h3>
                    <form action="#" class="login-form">

                        <hr />
                        <p style="color:red;">@ViewBag.Error</p>

                        <div class="col-lg-auto col-md-12 px-lg-3 px-0 pt-2">
                            <div class=" ml-lg-12">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                Nueva Contraseña
                                <div class="col-md-auto pb-3">
                                    @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control text-dark", placeholder = "Contraseña" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                </div>
                                Confirmar Contraseña
                                <div class="col-md-auto pb-3">
                                    @Html.PasswordFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control text-dark", placeholder = "Contraseña" } })
                                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                                </div>


                                <br />
                                <div class="form-group pb-5">

                                    <input type="submit" value="Guardar Nueva Contraseña" class="main_nav_item btn btn-outline-dark" />

                                </div>



                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    }

</body>
</html>
