﻿@model mysqltest.Models.users
@{
    Layout = null;
    ViewBag.Title = "Registration";
}

<!DOCTYPE html>
<html>
<head>
    <!-- css files -->
    <link href="~/css/RegistrationCss/registrarse.css" type="text/css" rel="stylesheet" />
    <link href="~/css/styleguide.css" type="text/css" rel="stylesheet" />
    <link href="~/css/globals.css" type="text/css" rel="stylesheet" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body style="margin: 0; background: #ffffff">




    <input type="hidden" id="anPageName" name="page" value="registrarse" />



    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()


        <div class="container-center-horizontal">
            <div class="registrarse screen">
                <div class="rectngulo-41-Nkx9BY border-1px-willow-grove"></div>
                <img class="trazado-3-Nkx9BY" src="~/img/trazado-3@1x.png" />
                <form action="#" class="login-form">
                    <div class="grupo-1-Nkx9BY">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "rectngulo-34-HC3ojC border-1px-willow-grove", @placeholder = "Cédula", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "rectngulo-37-HC3ojC border-1px-willow-grove", @placeholder = "Nombre", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "rectngulo-36-HC3ojC border-1px-willow-grove", @placeholder = "Apellido", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "rectngulo-35-HC3ojC border-1px-willow-grove", @placeholder = "Número telefónico ", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "rectngulo-38-HC3ojC border-1px-willow-grove", @placeholder = "Correo Electrónico", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "rectngulo-39-HC3ojC border-1px-willow-grove", @placeholder = "Contraseña", @style = "width: 325px;height:60px; " } })

                                </div>
                            </div>
                        </div>

                    </div>
                </form>


                <div class="crear-cuenta-Nkx9BY">
                    Crear Cuenta
                </div>
                <div class="ViewBag-Nkx9BY">
                    <h5>@ViewBag.Error</h5>

                </div>
                <hr />
                <div class="validar-cedula-Nkx9BY">
                    @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })

                </div>

                <div class="validar-Numertelefono-Nkx9BY">
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })

                </div>

                <div class="validar-Apellidos-Nkx9BY">
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })

                </div>


                <div class="validar-Nombre-Nkx9BY">
                    @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                </div>

                <div class="validar-correo-Nkx9BY ">
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                </div>
                <div class="validar-contraseña-Nkx9BY">
                    Crear Cuenta
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                </div>




                <img class="logo-png-Nkx9BY" src="~/img/logo-png@1x.png" />
                <div class="grupo-24-Nkx9BY">
                    <img class="trazado-17-lCrM5c" src="~/img/trazado-17-3@1x.png" />
                    <a href="@Url.Action("index","Home")">
                        <div class="inicio-lCrM5c montserrat-normal-ebb-22px">
                            <div class="inicio-OCbvnJ smart-layers-pointers montserrat-normal-ebb-22px">Inicio</div>

                        </div>
                    </a>
                </div>
                <div class="button-raised-f-disabled-theme-Nkx9BY">
                    <a href="@Url.Action("Login", "Account")" class="mdc-button__label">
                        <button type="button" class="mdc-button mdc-button--raised" data-id="anima-widget">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">login</i>Iniciar
                        </button>
                    </a>
                    <script>
                        mdc.autoInit();
                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-Nkx9BY .mdc-button"));
                    </script>
                </div>
                <div class="button-raised-f-disabled-theme-picLfk">
                    <button type="submit" class="mdc-button mdc-button--raised" data-id="anima-widget">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><span class="mdc-button__label">Registrarse</span>
                    </button>
                    <script>
                        mdc.autoInit();
                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-picLfk .mdc-button"));
                    </script>
                </div>
            </div>
        </div>
        <div class="container-center-horizontal">
            <div class="registrarse-responsive screen">
                <div class="grupo-10-RZYm7o">
                    <img class="trazado-14-fgmeNq" src="~/img/trazado-14@1x.png" />


                </div>
                <div class="crear-cuenta-fgmeNq">Crear cuenta</div>
                <img class="trazado-12-fgmeNq" src="~/img/trazado-12-1@1x.png" />
                <img class="logo-png-fgmeNq" src="~/img/logo-png-1@1x.png" />
                <img class="trazado-16-fgmeNq" src="~/img/trazado-16-3@1x.png" />
                <div class="button-raised-f-disabled-theme-fgmeNq">
                    <button type="submit" class="mdc-button mdc-button--raised" data-id="anima-widget">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i><span class="mdc-button__label">Registarse</span>
                    </button>
                    <script>
                        mdc.autoInit();
                        new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-disabled-theme-fgmeNq .mdc-button"));
                    </script>
                </div>
                <img class="trazado-15-fgmeNq" src="~/img/trazado-15-3@1x.png" />

            </div>

        </div>

    }



</body>
</html>
