﻿@model mysqltest.Models.virtual_tests

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-lg-3 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div>
                        <div class="form-horizontal">
                            <h2 style="color: ;">Editar prueba</h2>

                            <p style="color: #EAD1C5;">@ViewBag.Error</p>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger text-dark" })
                            @Html.HiddenFor(model => model.virtual_test_id)

                            @Html.ValidationSummary(true, "", new { @class = "text-danger text-dark" })
                            <div class="form-group">
                                <h3 class="control-label col-md-12">Nombre</h3>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @style = "color: #EAD1C5" })
                                </div>
                            </div>

                            <div class="form-group">
                                <h3 class="control-label col-md-12">Duración</h3>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                    @Html.ValidationMessageFor(model => model.duration, "", new { @style = "color: #EAD1C5" })
                                </div>
                            </div>

                            <div class="form-group">
                                <h3 class="control-label col-md-12">Instrucciones</h3>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.instructions, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                    @Html.ValidationMessageFor(model => model.instructions, "", new { @style = "color: #EAD1C5" })
                                </div>
                            </div>

                            <div class="form-group">
                                <h3 class="control-label col-md-12">Tipo</h3>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.type, new SelectList(ViewBag.testType, "test_type_id", "name"), new { @class = "form-control text-dark" })
                                    @Html.ValidationMessageFor(model => model.type, "", new { @style = "color: #EAD1C5" })
                                </div>
                            </div>

                            <div class="form-group pb-3">
                                <div class="col-md-offset-12 col-md-12" style="margin-top:7%">
                                    <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","VirtualTest")">Regresar</a>
                                    <input style=" margin-left: " type="submit" value="Editar" class="btn btn-outline-dark" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
