﻿@*@model IEnumerable<mysqltest.Models.virtual_tests>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<virtual_tests>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Cursos</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
    <style>
        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li > a,
                .pagination > li > span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.428571429;
                    text-decoration: none;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                .pagination > li:first-child > a,
                .pagination > li:first-child > span {
                    margin-left: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }

                .pagination > li:last-child > a,
                .pagination > li:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .pagination > li > a:hover,
                .pagination > li > span:hover,
                .pagination > li > a:focus,
                .pagination > li > span:focus {
                    background-color: #eeeeee;
                }

            .pagination > .active > a,
            .pagination > .active > span,
            .pagination > .active > a:hover,
            .pagination > .active > span:hover,
            .pagination > .active > a:focus,
            .pagination > .active > span:focus {
                z-index: 2;
                color: #ffffff;
                cursor: default;
                background-color: #428bca;
                border-color: #428bca;
            }

            .pagination > .disabled > span,
            .pagination > .disabled > a,
            .pagination > .disabled > a:hover,
            .pagination > .disabled > a:focus {
                color: #999999;
                cursor: not-allowed;
                background-color: #ffffff;
                border-color: #dddddd;
            }

        .pagination-lg > li > a,
        .pagination-lg > li > span {
            padding: 10px 16px;
            font-size: 18px;
        }

        .pagination-lg > li:first-child > a,
        .pagination-lg > li:first-child > span {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        .pagination-lg > li:last-child > a,
        .pagination-lg > li:last-child > span {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .pagination-sm > li > a,
        .pagination-sm > li > span {
            padding: 5px 10px;
            font-size: 12px;
        }

        .pagination-sm > li:first-child > a,
        .pagination-sm > li:first-child > span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .pagination-sm > li:last-child > a,
        .pagination-sm > li:last-child > span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .pager {
            padding-left: 0;
            margin: 20px 0;
            text-align: center;
            list-style: none;
        }

            .pager:before,
            .pager:after {
                display: table;
                content: " ";
            }

            .pager:after {
                clear: both;
            }

            .pager:before,
            .pager:after {
                display: table;
                content: " ";
            }

            .pager:after {
                clear: both;
            }

            .pager li {
                display: inline;
            }

                .pager li > a,
                .pager li > span {
                    display: inline-block;
                    padding: 5px 14px;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    border-radius: 15px;
                }

                    .pager li > a:hover,
                    .pager li > a:focus {
                        text-decoration: none;
                        background-color: #eeeeee;
                    }

            .pager .next > a,
            .pager .next > span {
                float: right;
            }

            .pager .previous > a,
            .pager .previous > span {
                float: left;
            }

            .pager .disabled > a,
            .pager .disabled > a:hover,
            .pager .disabled > a:focus,
            .pager .disabled > span {
                color: #999999;
                cursor: not-allowed;
                background-color: #ffffff;
            }

        .pagination-container {
            text-align: center;
        }
    </style>
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administración</div>
                    </a>
                    <a href="@Url.Action("Index","TestType")">
                        <div class="registrarse">Tipo de Pruebas</div>
                    </a>
                    <a href="@Url.Action("Index","Questions")">
                        <div class="iniciar-sesin">Preguntas</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">ADMINISTRACIÓN DE PRUEBAS VIRTUALES</h2>

    <div class="row g-0" style="margin-top:2%; margin-left:4%;">

        <div class="col-md-9">
            <a class="btn btn-outline-dark" href="@Url.Action("Index", "Admin")">Regresar</a>
            @if (ViewBag.role == 1)
            {
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Create","VirtualTest")">Crear Nueva Prueba</a>

            }
        </div>

        <div class="col-md-3">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

    </div>


    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Duración (Min)</th>
                    <th>Instrucciones</th>
                    <th>Tipo</th>
                    <th colspan="5">Acciones</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.instructions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.test_type.name)
                    </td>
                    @if (ViewBag.role == 1)
                    {
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Edit","VirtualTest", new { id = item.virtual_test_id })">Editar</a>
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Delete","VirtualTest", new { id = item.virtual_test_id })">Eliminar</a>
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AsignQuestionToTest","Admin", new { id = item.virtual_test_id })">Agregar Pregunta</a>
                        </td>
                    }
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("QuestionsAssignedInd","Admin", new { id = item.virtual_test_id })">Preguntas Agregadas</a>
                    </td>

                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Solved","Admin", new { id = item.virtual_test_id, qvt_id = 0 })">Realizar Prueba</a>
                    </td>

                </tr>
            }

        </table>
    </div>

    <div class="row g-0" style="padding: 1%;">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

   

</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
