﻿@model mysqltest.Models.schedules
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-3 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: ;">Edición de Horario</h2>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.schedule_id)
                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Día</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.day, new SelectList(ViewBag.day), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Hora de Incio</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.star_time, new SelectList(ViewBag.timePickerStart), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.star_time, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Hora de Finalización</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.end_time, new SelectList(ViewBag.timePickerEnd), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.end_time, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group pb-3">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Schedule")">Regresar</a>
                                <input style=" margin-left: " type="submit" value="Editar" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }

</body>
</html>
