﻿@*@model IEnumerable<mysqltest.Models.schedules>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<schedules>


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horarios</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />


    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }

        .myclass:hover {
            color: white;
        }
    </style>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">
                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("Index","Courses")">
                        <div class="registrarse">Cursos</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">ADMINISTRACIÓN DE HORARIOS</h2>

    <div class="row g-0" style="margin-top:2%; margin-left:4%;">

        <div class="col-md-9">
             <a class="btn btn-outline-dark" href="@Url.Action("Index", "Admin")" id="VolverHorario"><span>Regresar</span></a>
            @if (ViewBag.role == 1)
            {
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Create","Schedule")" id="Crearhorario"><span>Crear Nuevo Horario</span></a>
            }
        </div>

        <div class="col-md-3">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

    </div>
        <div style=" width: 95%; margin-left: 3%;">

            <table class="table table-hover" id="myTable">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Horario</th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.day)
                            ( @Html.DisplayFor(modelItem => item.star_time)  - @Html.DisplayFor(modelItem => item.end_time))
                        </td>
                        @*<td>
                        <a class="btn btn-outline-dark" href="@Url.Action("Edit","Schedule", new { id = item.schedule_id })">Editar</a>
                    </td>*@
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("Delete","Schedule", new { id = item.schedule_id })">Eliminar</a>
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="row g-0" style="padding: 1%;">
            <div class="col-md-6">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="col-md-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

</body>
</html>
