@model mysqltest.Models.users

@{
    Layout = null;
}

<html>

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>profile edit data and skills - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff; margin:auto;">

    <div class="row justify-content-center">
        <div class="container-center-horizontal">
            <div class="crud-general2 screen">

                <div class="grupo-20">

                    <div class=" layout segoeui-regular-normal-ebb-22px" style="color:white;">
                        <a href="@Url.Action("Index", "Admin")">
                            <div class="inicio">Administraci&oacute;n</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-body">
            <div class="row">
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("index", "Home")">Inicio</a></li>
                        <li class="breadcrumb-item"><a href=@Url.Action("Index", "UserProfile")>Perfil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Perfil</li>
                    </ol>
                </nav>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-10">
                <div class="card">
                    <h2 class="d-flex px-2">Editar Perfil</h2>
                    <div class="card-body">
                        <div class="row mb-3">


                            @Html.HiddenFor(model => model.user_id)

                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })



                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Apellido</h6>
                            </div>

                            <div class="col-sm-9 text-secondary">

                                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo Electr&oacute;nico</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                @ViewBag.Error
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tel&eacute;fono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contrase&ntilde;a</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <form action="@Url.Action("Index", "UserProfile")">
                                    <a style="background-color: #667b68; border-color: #667b68;     color: #fff;" class="main_nav_item btn  btn-outline-dark" href="@Url.Action("Index", "UserProfile")">Regresar</a>
                                    <input style="background-color: #667b68; border-color: #667b68; color: #fff;" type="submit" class="btn btn-outline-dark" value="Guardar cambios">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>
            </div>}
    </div>


    <style type="text/css">
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #EAD1C5;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
        }

        .me-2 {
            margin-right: .5rem !important;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #677C68
        }
    </style>

    <script type="text/javascript">

    </script>

    }
</body>
    </html>
    @Scripts.Render("~/bundles/jqueryval")

