@model mysqltest.Models.users
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <!--  This file has been downloaded from bootdey.com  on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Perfil de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/css/Progressbar.css" rel="stylesheet" />
</head>
<body>
    <div class="container pt-5">
        <div class="container">
            <div class="main-body">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Perfil de Usuario</li>
                    </ol>
                </nav>
                <!-- /Breadcrumb -->

                <div class="row gutters-sm">

                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Nombre Completo</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.first_name @Model.last_name

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Correo Electronico</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.email
                                    </div>
                                </div>
                                <hr>

                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Celular</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model.phone_number
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-info " href="@Url.Action("EditProfile","UserProfile", new {id = Model.user_id })">Editar Informaci&oacute;n Personal</a>
                                        <a class="btn btn-info " href="@Url.Action("UpdatePassword","User", new {id = Model.user_id })">Cambio de Contrase&ntilde;a</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <style type="text/css">
                    /*Clases Vista Perfil*/
                    body {
                        margin-top: 0px;
                        color:;
                        text-align: left;
                        background-color:;
                    }

                    .main-body {
                        padding: 15px;
                    }

                    div {
                        display: block;
                    }

                    h6 {
                        font-family: Montserrat;
                        color: #677C68;
                    }

                    .card {
                        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
                    }

                    .card {
                        position: relative;
                        display: block;
                        min-width: 0;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: border-box;
                        border: 0 solid rgba(0,0,0,.125);
                        border-radius: .25rem;
                    }

                    .card-body {
                        flex: 1 1 auto;
                        min-height: 1px;
                        padding: 1rem;
                        padding-right: 20px;
                    }

                    .gutters-sm {
                        margin-right: -8px;
                        margin-left: -8px;
                    }

                        .gutters-sm > .col, .gutters-sm > [class*=col-] {
                            padding-right: 8px;
                            padding-left: 8px;
                        }

                    .mb-3, .my-3 {
                        margin-bottom: 1rem !important;
                    }

                    .bg-gray-300 {
                        background-color: #e2e8f0;
                    }

                    .h-100 {
                        height: 100% !important;
                    }

                    .shadow-none {
                        box-shadow: none !important;
                    }

                    .i {
                        font-family: Montserrat;
                        color: #677C68;
                    }

                    button {
                        background-color: #677C68;
                    }

                    /*Caja de circulo de progeso*/
                    /*
                              * {
                                   box-sizing: border-box;
                                   padding: 0;
                                   margin: 0;
                                   font-family: 'Montserrat',sans-serif;
                               }

                        .box {
                           position: relative;
                           width: 300px;
                           height: 400px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           flex-direction: column;
                           background: #fff;
                               }

                        .box .percent {
                                       position: inherit;
                                       width: 150px;
                                       height: 150px;
                                   }

                                       .box .percent svg {
                                           position: inherit;
                                           width: 150px;
                                           height: 150px;
                                       }

                                           .box .percent svg circle {
                                               width: 150px;
                                               height: 150px;
                                               fill: none;
                                               stroke-width: 10;
                                               stroke: #677C68;
                                               transform: translate(5px,5px);
                                               stroke-dasharray: 440;
                                               stroke-dashoffset: 440;
                                           }

                                               .box .percent svg circle:nth-child(1) {
                                                   stroke-dashoffset:0;
                                               }

                                               .box .percent .number {
                                                   position: absolute;
                                                   top: 300px;
                                                   left: 0;
                                                   width: 100%;
                                                   height: 100%;
                                                   display: flex;
                                                   justify-content: center;
                                                   align-content: center;
                                               }

                            */
                    /* Style the buttons that are used to open and close the accordion panel */
                    .accordion {
                        background-color: #eee;
                        color: #444;
                        cursor: pointer;
                        padding: 18px;
                        width: 100%;
                        text-align: left;
                        border: none;
                        outline: none;
                        transition: 0.4s;
                    }

                    .mt-100 {
                        margin-top: 200px
                    }


                    /*Barra de progreso circular*/

                    .progress {
                        width: 150px;
                        height: 150px !important;
                        float: left;
                        line-height: 150px;
                        background: #fff;
                        margin: 20px;
                        box-shadow: none;
                        position: relative
                    }

                        .progress:after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            border: 12px solid #fff;
                            position: absolute;
                            top: 0;
                            left: 0
                        }

                        .progress > span {
                            width: 50%;
                            height: 100%;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            z-index: 1
                        }

                        .progress .progress-left {
                            left: 0
                        }

                        .progress .progress-bar {
                            width: 100%;
                            height: 100%;
                            background: none;
                            border-width: 12px;
                            border-style: solid;
                            position: absolute;
                            top: 0
                        }

                        .progress .progress-left .progress-bar {
                            left: 100%;
                            border-top-right-radius: 80px;
                            border-bottom-right-radius: 80px;
                            border-left: 0;
                            -webkit-transform-origin: center left;
                            transform-origin: center left
                        }

                        .progress .progress-right {
                            right: 0
                        }

                            .progress .progress-right .progress-bar {
                                left: -100%;
                                border-top-left-radius: 80px;
                                border-bottom-left-radius: 80px;
                                border-right: 0;
                                -webkit-transform-origin: center right;
                                transform-origin: center right;
                                animation: loading-1 1.8s linear forwards
                            }

                        .progress .progress-value {
                            width: 90%;
                            height: 90%;
                            border-radius: 50%;
                            background: #EAD1C5;
                            font-size: 24px;
                            color: #fff;
                            line-height: 135px;
                            text-align: center;
                            position: absolute;
                            top: 5%;
                            left: 5%
                        }

                        .progress.blue .progress-bar {
                            border-color: #677C68
                        }

                        .progress.blue .progress-left .progress-bar {
                            animation: loading-2 1.5s linear forwards 1.8s
                        }

                        .progress.yellow .progress-bar {
                            border-color: #fdba04
                        }

                        .progress.yellow .progress-right .progress-bar {
                            animation: loading-3 1.8s linear forwards
                        }

                        .progress.yellow .progress-left .progress-bar {
                            animation: none
                        }

                    @@-webkit-keyframes loading-1 {
                        0% {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg)
                        }

                        100% {
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg)
                        }
                    }

                    @@-webkit-keyframes loading-2 {
                        0% {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg)
                        }

                        100% {
                            -webkit-transform: rotate(144deg);
                            transform: rotate(144deg)
                        }
                    }

                    @@-webkit-keyframes loading-3 {
                        0% {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg)
                        }

                        100% {
                            -webkit-transform: rotate(135deg);
                            transform: rotate(135deg)
                        }
                        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
                        .active, .accordion:hover {
                            background-color: #ccc;
                        }
                        /* Style the accordion panel. Note: hidden by default */
                        .panel {
                            padding: 0 18px;
                            background-color: white;
                            display: none;
                            overflow: hidden;
                        }
                    /* Calendario*/






                </style>

                <script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                        acc[i].addEventListener("click", function () {
                            /* Toggle between adding and removing the "active" class,
                            to highlight the button that controls the panel */
                            this.classList.toggle("active");

                            /* Toggle between hiding and showing the active panel */
                            var panel = this.nextElementSibling;
                            if (panel.style.display === "block") {
                                panel.style.display = "none";
                            } else {
                                panel.style.display = "block";
                            }
                        });
                    }

                </script>
</body>


