﻿@model mysqltest.Models.FC_Module

@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignar Archivo a Módulo</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />

    <link href="~/Scripts/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>

</head>


<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="registrarse">Administracion</div>
                    </a>
                   
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-4 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: ;">ASIGNAR ARCHIVO A MÓDULO </h2>
                        <hr />

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Módulo</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.module_id, new SelectList(ViewBag.module, "module_id", "name"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.module_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Archivo</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.idFile, new SelectList(ViewBag.file, "idFile", "FileName"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.idFile, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group pb-3">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:5%">
                                <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexPlus","Module")">Regresar</a>
                                <input style=" margin-left: " type="submit" value="Asignar" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    }

</body>
</html>


