﻿@model mysqltest.Models.Multi_Modulo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Asignación de Archivo</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idMMod)

        <div class="form-actions no-color">

            <div class="row justify-content-center" style="margin-top: 3%;">


                <div class="col-lg-8 px-lg-3 pt-4 card" style=" border: ; border-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: ;">Eliminar asignación multimedia-modulo</h2>
                        </div>
                        <hr />

                        <table class="table table-striped table-bordered " style="background-color: #D2DCCD;  margin-top: 4% ">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Módulo</th>
                                    <th>Video Multimedia</th>
                                </tr>
                            </thead>
                            <tr class="text-center">
                                <td>
                                    @ViewBag.module
                                </td>
                                <td>
                                    @ViewBag.multimedia
                                </td>
                            </tr>

                        </table>
                        <div class="form-group pb-3">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("FileAssignInd","Module", new { id = ViewBag.module_id})">Regresar</a>
                            <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                        </div>

                    </div>

                </div>
            </div>

        </div>
    }
</body>
</html>
