﻿@model mysqltest.Models.modules
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>


<body>

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-lg-3 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">
                    <div class="form-horizontal">
                        <h2 style="color: ; ">Editar modulo</h2>

                        <p style="color: red;">@ViewBag.Error</p>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-dark" })
                        @Html.HiddenFor(model => model.module_id)

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Nombre</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @style = "color: red" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Descripción</h3>
                            <div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @style = "color: red" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Pertene al Curso</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.course, new SelectList(ViewBag.courses, "course_id", "name"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.course, "", new { @style = "color: red" })
                            </div>
                        </div>

                        <div class="form-group pb-3">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Module")">Regresar</a>
                                <input type="submit" value="Editar" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
