﻿@model IEnumerable<mysqltest.Models.FC_Module>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Módulo-Archivo</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>


    <body>

        <div class="container-center-horizontal">
            <div class="crud-general2 screen">

                <div class="grupo-20">

                    <div class="layout segoeui-regular-normal-ebb-22px">

                        <a href="@Url.Action("Index", "Admin")">
                            <div class="inicio">Administracion</div>
                        </a>
                        <a href="@Url.Action("Index","CourseType")">
                            <div class="registrarse">Tipos de curso</div>
                        </a>
                        <a href="@Url.Action("Index","Schedule")">
                            <div class="iniciar-sesin">Horarios</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

           <h2 style="color: #677C78; margin-top: 2%;" class="text-center">@ViewBag.module</h2>

        <div class="container-fluid" style="padding: 2%;">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexPlus","Module")">Volver atrás</a>
        </div>

        <div style=" width: 95%; margin-left: 3%;">


            <table class="table table-hover" id="myTable">

                @if (ViewBag.check == 1)
                {
                    <thead class="table-dark">
                        <tr class="text-center">

                            <th>
                                Nombre
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Ruta
                            </th>
                            @if (ViewBag.role == 1)
                            {
                                <th colspan="2">
                                    Acciones
                                </th>
                            }

                        </tr>
                    </thead>
                    foreach (var item in Model)
                    {
                        <tr class="text-center">

                            <td>
                                @Html.DisplayFor(modelItem => item.FileControl.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileControl.FileType)
                            </td>
                            <td>
                                <a class="btn btn-outline-dark" href="@Html.DisplayFor(modelItem => item.FileControl.FilePath)">Ir al Archivo</a>
                            </td>
                            @if (ViewBag.role == 1)
                            {
                                <td>
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteFileAssignment","Module", new { id = item.idFC_Module })">Eliminar</a>
                                </td>
                            }

                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center">

                        <th>
                            Prueba
                        </th>
                        <th>
                            Hora de Inicio
                        </th>
                        <th>
                            Hora de Finalización
                        </th>
                        <th>
                            Nota Mínima
                        </th>
                        <th colspan="2">
                            Acciones
                        </th>
                    </tr>
                    <tr class="text-center">

                        <td colspan="6">
                            <b>No hay Pruebas Asignadas a este Módulo.</b>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </body>
</html>
