﻿@model IEnumerable<mysqltest.Models.modules>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Módulos de Curso</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />


</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">
                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="registrarse">Administración</div>
                    </a>


                </div>
            </div>
        </div>
    </div>



    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">ADMINISTRACIÓN DE CONTENIDO DE MÓDULOS</h2>

    <div class="row g-0" style="margin-top:2%; margin-left:4%;">

        <div class="col-md-9">
            <a class="btn btn-outline-dark" href="@Url.Action("Index", "Module")">Regresar</a>

            
        </div>

        <div class="col-md-3">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

    </div>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Pertenece al Curso
                    </th>
                    <th colspan="4">
                        Acciones
                    </th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.courses.name)
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AssignMultiToModule","Module", new { id = item.module_id })">Asignar Multimedia</a>
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("MultiAssignInd","Module", new { id = item.module_id })">Multimedia Asignada</a>
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AssignFileToModule","Module", new { id = item.module_id })">Asignar Archivo</a>
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("FileAssignInd","Module", new { id = item.module_id })">Archivos Asignados</a>
                    </td>

                </tr>
            }

        </table>

    </div>

</body>
</html>
