﻿@*@model IEnumerable<mysqltest.Models.modules>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<modules>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Módulos de Curso</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />

</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>
                </div>
            </div>
        </div>
    </div>


  

        <h2 style="color: #677C78" ; class="text-center">ADMINISTRACIÓN DE MÓDULOS</h2>

        <div class="row g-0" style="margin-top:2%; margin-left:4%;">

            <div class="col-md-9">
                <a class="btn btn-outline-dark" href="@Url.Action("Index", "Admin")">Regresar</a>

                @if (ViewBag.role == 1)
                {
                    <a class="btn btn-outline-dark" href="@Url.Action("Create","Module")">Crear nuevo módulo</a>
                }
            </div>

            <div class="col-md-3">

                <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                    <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

                </form>
            </div>

        </div>


        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

        <div style=" width: 95%; margin-left: 3%;">

            <table class="table table-hover" id="myTable">
                <thead class="table-dark">
                    <tr class="text-center">

                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Pertenece al Curso
                        </th>
                        @if (ViewBag.role == 1)
                        {
                            <th colspan="5">
                                Acciones
                            </th>
                        }
                        else
                        {
                            <th>
                                Acciones
                            </th>
                        }

                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.courses.name)
                        </td>
                        @if (ViewBag.role == 1)
                        {
                            <td>
                                <a class="btn btn-outline-dark" href="@Url.Action("Edit","Module", new { id = item.module_id })">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-dark" href="@Url.Action("Delete","Module", new { id = item.module_id })">Eliminar</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-dark" href="@Url.Action("IndexPlus","Module")">Contenido</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-dark" href="@Url.Action("AsignTestToModule","Admin", new { id = item.module_id })">Asignar Evaluación</a>
                            </td>
                        }
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("TestsAssignedInd","Admin", new { id = item.module_id , idc=0 })">Evaluaciones Asignadas</a>
                        </td>
                    </tr>
                }

            </table>
        </div>

            
                <div class="row g-0" style="padding: 1%;">
                    <div class="col-md-6">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>


</body>
</html>
