﻿@model IEnumerable<mysqltest.Models.multimedia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Módulo-Multimedia</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>
                </div>
            </div>
        </div>
    </div>




    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">@ViewBag.module</h2>

    <div class="container-fluid" style="padding: 3%;">
        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexPlus","Module")">Volver atrás</a>
    </div>
    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" >


            @if (ViewBag.check == 1)
            {
                <thead class="table-dark">
                    <tr class="text-center">

                        
                        <th>
                            Decripción Video
                        </th>
                        <th>
                            Tema
                        </th>
                        <th>
                            URL
                        </th>
                        @if (ViewBag.role == 1)
                        {
                            <th colspan="2">
                                Acciones
                            </th>
                        }

                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tema)
                        </td>
                        <td>
                            <iframe height="200" width="300" src=" @Html.DisplayFor(modelItem => item.URL)">
                            </iframe>
                        </td>
                        @if (ViewBag.role == 1)
                        {
                            
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteMultimediaAssignment","Module", new { idModulo= ViewBag.moduleId , idMultimedia = item.idMultimedia })">Eliminar</a>
                            </td>
                        }

                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                    <th>
                        Prueba
                    </th>
                    <th>
                        Hora de Inicio
                    </th>
                    <th>
                        Hora de Finalización
                    </th>
                    <th>
                        Nota Mínima
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
                <tr class="text-center">

                    <td colspan="6">
                        <b>No hay Multimedia Asignada a este Módulo.</b>
                    </td>
                </tr>
            }



        </table>

        </div>
    </body>
</html>
