/* screen - loguin */

.loguin {
    background-color: var(--white);
    height: 687px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1280px;
}

    .loguin .rectngulo-23-i3hSiC {
        background-color: var(--white);
        box-shadow: 0px 3px 6px #00000036;
        height: 408px;
        left: 193px;
        position: absolute;
        top: 129px;
        width: 895px;
    }

    .loguin .iniciar-sesin-i3hSiC {
        background-color: transparent;
        color: var(--willow-grove);
        font-family: var(--font-family-segoeui-regular);
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 749px;
        letter-spacing: 0.00px;
        line-height: 44px;
        position: absolute;
        text-align: left;
        top: 201px;
        white-space: nowrap;
        width: auto;
    }

    .loguin .Credenciales-incorrectas {
        background-color: transparent;
        color: var(--willow-grove);
        font-family: var(--font-family-segoeui-regular);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 735px;
        letter-spacing: 0.00px;
        line-height: 44px;
        position: absolute;
        text-align: left;
        top: 220px;
        white-space: nowrap;
        width: auto;
        color: #dc3545;
    }

    .loguin .ViewbagCorreo {
        background-color: transparent;
        color: var(--willow-grove);
        font-family: var(--font-family-segoeui-regular);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 735px;
        letter-spacing: 0.00px;
        line-height: 44px;
        position: absolute;
        text-align: left;
        top: 252px;
        white-space: nowrap;
        width: auto;
    }

    .loguin .ViewbagClave {
        background-color: transparent;
        color: var(--willow-grove);
        font-family: var(--font-family-segoeui-regular);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 735px;
        letter-spacing: 0.00px;
        line-height: 44px;
        position: absolute;
        text-align: left;
        top: 312px;
        white-space: nowrap;
        width: auto;
    }

    .loguin .user-i3hSiC {
        background-color: transparent;
        height: 35px;
        left: 693px;
        object-fit: cover;
        position: absolute;
        top: 283px;
        width: 35px;
    }

    .loguin .rectngulo-24-i3hSiC {
        background-color: var(--white);
        border-radius: 10px;
        height: 44px;
        left: 733px;
        position: absolute;
        top: 283px;
        width: 292px;
    }

    .loguin .rectngulo-26-i3hSiC {
        background-color: var(--white);
        border-radius: 11px;
        height: 44px;
        left: 733px;
        position: absolute;
        top: 343px;
        width: 292px;
    }

    .loguin .padlock-i3hSiC {
        background-color: transparent;
        height: 36px;
        left: 685px;
        object-fit: cover;
        position: absolute;
        top: 343px;
        width: 36px;
    }

    .loguin .iniciar-i3hSiC {
        background-color: transparent;
        color: var(--white);
        font-family: var(--font-family-segoeui-regular);
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 833px;
        letter-spacing: 0.00px;
        line-height: 31px;
        position: absolute;
        text-align: left;
        top: 432px;
        white-space: nowrap;
        width: auto;
    }

    .loguin .trazado-13-i3hSiC {
        background-color: transparent;
        height: 426px;
        left: 184px;
        object-fit: cover;
        position: absolute;
        top: 123px;
        width: 483px;
    }

    .loguin .logo-png-i3hSiC {
        background-color: transparent;
        height: 248px;
        left: 302px;
        object-fit: cover;
        position: absolute;
        top: 203px;
        width: 248px;
    }

    .loguin .olvidaste-tu-contrasea-i3hSiC {
        background-color: transparent;
        color: #ead1c5;
        cursor: pointer;
        font-family: var(--font-family-segoeui-regular);
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: 757px;
        letter-spacing: 0.00px;
        line-height: 21px;
        position: absolute;
        text-align: center;
        top: 488px;
        white-space: nowrap;
        width: auto;
    }

    .loguin .grupo-21-i3hSiC {
        background-color: transparent;
        height: 70px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 1280px;
    }

    .loguin .trazado-17-ngNLxD {
        background-color: transparent;
        height: 100%;
        left: 0px;
        object-fit: cover;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .loguin .button-raised-f-disabled-theme-i3hSiC {
        background-color: transparent;
        border-radius: 12px;
        height: 39px;
        left: 801px;
        position: absolute;
        top: 418px;
        width: 146px;
    }

    .loguin .button-raised-f-disabled-theme-L5xAjy {
        background-color: transparent;
        border-radius: 12px;
        cursor: pointer;
        height: 35px;
        left: 1088px;
        position: absolute;
        top: 18px;
        width: 148px;
    }

    .loguin .inicio-i3hSiC {
        background-color: transparent;
        height: auto;
        left: 144px;
        letter-spacing: 0.00px;
        line-height: 22px;
        position: absolute;
        text-align: left;
        top: 24px;
        white-space: nowrap;
        width: auto;
    }

.button-raised-f-disabled-theme-i3hSiC {
    height: auto !important;
    width: auto !important;
}

    .button-raised-f-disabled-theme-i3hSiC .mdc-button {
        --mdc-theme-primary: #A3B898;
    }

.button-raised-f-disabled-theme-L5xAjy {
    height: auto !important;
    width: auto !important;
}

    .button-raised-f-disabled-theme-L5xAjy .mdc-button {
        --mdc-theme-primary: #A3B898;
    }
/* screen - loguin-responsive */

.loguin-responsive {
    background-color: var(--white);
    height: 593px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 428px;
}

    .loguin-responsive .grupo-9-0TzOa9 {
        background-color: transparent;
        height: 70px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 428px;
    }

    .loguin-responsive .grupo-22-DMx85U {
        background-color: transparent;
        height: 100%;
        left: 0px;
        position: relative;
        top: 0px;
        width: 100%;
    }

    .loguin-responsive .rectngulo-1-Bcolrb {
        background-color: var(--willow-grove);
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .loguin-responsive .inicio-Bcolrb {
        background-color: transparent;
        bottom: calc(46.44% - 13px);
        cursor: pointer;
        height: 29px;
        left: calc(27.87% - 17px);
        letter-spacing: 0.00px;
        line-height: 22px;
        pointer-events: auto;
        position: absolute;
        text-align: left;
        transition: all 0.2s ease;
        white-space: nowrap;
        width: 62px;
    }

        .loguin-responsive .inicio-Bcolrb:hover {
            color: #A3B898
        }

    .loguin-responsive .button-raised-f-disabled-theme-Bcolrb {
        background-color: transparent;
        border-radius: 18px;
        cursor: pointer;
        height: calc(100.00% - 31px);
        position: absolute;
        right: calc(27.27% - 40px);
        top: 15px;
        width: 148px;
    }

    .loguin-responsive .grupo-8-0TzOa9 {
        background-color: transparent;
        height: 416px;
        left: 36px;
        position: absolute;
        top: 80px;
        width: 355px;
    }

    .loguin-responsive .rectngulo-23-5IEdD5 {
        background-color: var(--white);
        box-shadow: 0px 3px 6px #00000036;
        height: calc(100.00% - 26px);
        left: 1px;
        position: absolute;
        top: 25px;
        width: 100%;
    }

    .loguin-responsive .iniciar-sesin-5IEdD5 {
        background-color: transparent;
        color: var(--willow-grove);
        font-family: var(--font-family-montserrat);
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        height: 42px;
        letter-spacing: 0.00px;
        line-height: 33px;
        position: absolute;
        right: calc(37.41% - 81px);
        text-align: left;
        top: calc(35.19% - 15px);
        white-space: nowrap;
        width: 216px;
    }

    .loguin-responsive .user-5IEdD5 {
        background-color: transparent;
        bottom: calc(49.83% - 13px);
        height: 27px;
        left: 48px;
        object-fit: cover;
        position: absolute;
        width: 27px;
    }

    .loguin-responsive .rectngulo-24-5IEdD5 {
        background-color: var(--white);
        border-radius: 10px;
        bottom: calc(49.05% - 16px);
        height: 33px;
        position: absolute;
        right: 48px;
        width: 223px;
    }

    .loguin-responsive .rectngulo-26-5IEdD5 {
        background-color: var(--white);
        border-radius: 11px;
        bottom: calc(37.03% - 12px);
        height: 33px;
        position: absolute;
        right: 48px;
        width: 223px;
    }

    .loguin-responsive .padlock-5IEdD5 {
        background-color: transparent;
        bottom: calc(38.00% - 10px);
        height: 27px;
        left: 48px;
        object-fit: cover;
        position: absolute;
        width: 27px;
    }

    .loguin-responsive .trazado-12-5IEdD5 {
        background-color: transparent;
        height: 115px;
        left: -9px;
        object-fit: cover;
        position: absolute;
        top: 16px;
        width: calc(100.00% + 18px);
    }

    .loguin-responsive .logo-png-5IEdD5 {
        background-color: transparent;
        height: 75px;
        object-fit: cover;
        position: absolute;
        right: calc(47.14% - 35px);
        top: 0px;
        width: 75px;
    }

    .loguin-responsive .olvidaste-tu-contrasea-5IEdD5 {
        background-color: transparent;
        bottom: 31px;
        color: #ead1c5;
        font-family: var(--font-family-segoeui-regular);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        height: 22px;
        left: calc(46.52% - 78px);
        letter-spacing: 0.00px;
        line-height: 15px;
        position: absolute;
        text-align: center;
        white-space: nowrap;
        width: 168px;
    }

    .loguin-responsive .trazado-16-5IEdD5 {
        background-color: transparent;
        bottom: 0px;
        height: 107px;
        left: 0px;
        object-fit: cover;
        position: absolute;
        width: 107px;
    }

    .loguin-responsive .trazado-15-5IEdD5 {
        background-color: transparent;
        bottom: 0px;
        height: 107px;
        object-fit: cover;
        position: absolute;
        right: 1px;
        width: 107px;
    }

    .loguin-responsive .button-raised-f-disabled-theme-5IEdD5 {
        background-color: transparent;
        border-radius: 12px;
        bottom: calc(21.77% - 7px);
        height: 31px;
        position: absolute;
        right: calc(49.60% - 44px);
        width: 89px;
    }

.button-raised-f-disabled-theme-Bcolrb {
    height: auto !important;
    width: auto !important;
}

    .button-raised-f-disabled-theme-Bcolrb .mdc-button {
        --mdc-theme-primary: #A3B898;
    }

.button-raised-f-disabled-theme-5IEdD5 {
    height: auto !important;
    width: auto !important;
}

    .button-raised-f-disabled-theme-5IEdD5 .mdc-button {
        --mdc-theme-primary: #A3B898;
    }

@media screen and (max-width: 1279px) {
    .screen.loguin {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .screen.loguin-responsive {
        display: none;
    }
}
