﻿@model mysqltest.Models.courses
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Curso</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>

<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index","Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                </div>
            </div>
        </div>ss
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="row justify-content-center" style="margin-top: 3%;">


    <div class="col-lg-4 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
        <div class="container">

            <div class="form-horizontal">

                <h2 style="color: ;">Crear nuevo curso</h2>

                <p style="color: red;">@ViewBag.Error</p>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <h3 class="control-label col-md-12">Nombre</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control text-dark " } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @style = "color: #EAD1C5" })
                    </div>
                </div>

                <div class="form-group">
                    <h3 class="control-label col-md-12">Descripción</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control text-dark   " } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @style = "color: #EAD1C5" })
                    </div>
                </div>

                <div class="form-group">
                    <h3 class="control-label col-md-12">Duración (Meses)</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control text-dark" } })
                        @Html.ValidationMessageFor(model => model.duration, "", new { @style = "color: #EAD1C5" })
                    </div>
                </div>

                <div class="form-group">
                    <h3 class="control-label col-md-12">Costo</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control text-dark" } })
                        @Html.ValidationMessageFor(model => model.cost, "", new { @style = "color: #EAD1C5" })
                    </div>
                </div>

                <div class="form-group">
                    <h3 class="control-label col-md-12">Tipo</h3>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.type, new SelectList(ViewBag.type, "course_type_id", "name"), new { @class = "form-control text-dark" })
                        @Html.ValidationMessageFor(model => model.type, "", new { @style = "color: #EAD1C5" })
                    </div>
                </div>

                <div class="form-group pb-3">
                    <div class="col-md-offset-2 col-md-12" style="margin-top:7%">
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Courses")">Regresar </a>
                        <input type="submit" id="Crearcurso" value="Crear" class="main_nav_item btn btn-outline-dark" />
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
    }

</body>
</html>
