﻿@model mysqltest.Models.courses
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />

</head>
<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div style="margin-top: 3%;">
            <div>
                <div class="row justify-content-center">
                    
                    <div class=" col-lg-3 px-lg-3 pt-4 card" style="border: 1xp; border-color: #667b68;">
                        <h2 style="color: black;">Editar curso</h2>

                        <p style="color:red;">@ViewBag.Error</p>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-dark" })
                        @Html.HiddenFor(model => model.course_id)

                        <div class="form-group pt-3">
                            <h3 class="control-label col-md-auto">Nombre</h3>
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <h3 class="control-label col-md-auto">Descripción</h3>
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <h3 class="control-label col-md-auto">Duración</h3>
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.duration, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <h3 class="control-label col-md-auto">Costo</h3>
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.cost, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>
                        <div class="pb-3 ">
                            <div class="form-group pt-3 ">
                                <h3 class="control-label col-md-auto">Tipo</h3>
                                <div class="col-md-auto">
                                    @Html.DropDownListFor(model => model.type, new SelectList(ViewBag.type, "course_type_id", "name"), new { @class = "form-control text-dark" })
                                    @Html.ValidationMessageFor(model => model.type, "", new { @style = "color: #EAD1C5" })
                                </div>
                            </div>

                            <div class="form-group pt-3">
                                <div class="col-md-offset-2 col-md-auto">
                                    <a class="main_nav_item btn btn-outline-dark " href="@Url.Action("Index","Courses")">Regresar</a>
                                    <input type="submit" value="Editar" class="btn  btn-outline-dark" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
