﻿@*@model IEnumerable<mysqltest.Models.courses>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<courses>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />

    <title>Cursos</title>
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px" style="color:white;">

                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.Correcto != null)
    {
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            <strong>Aviso!</strong> @ViewBag.Correcto
        </div>
    }


    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">ADMINISTRACIÓN DE CURSOS</h2>

    <div class="row g-0" style="margin-top:2%; margin-left:4%;">

        <div class="col-md-9">
            <a class="btn btn-outline-dark" href="@Url.Action("Index", "Admin")"><span id="Volver">Regresar</span></a>

            @if (ViewBag.role == 1)
            {
                <a class="btn btn-outline-dark" href="@Url.Action("Create","Courses")"><span id="Crear">Crear Nuevo Curso</span></a>

            }
        </div>

        <div class="col-md-3">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

    </div>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Duración (Meses)</th>
                    <th>Costo</th>

                    @if (ViewBag.role == 1)
                    {
                        <th colspan="4">Acciones</th>
                    }
                    else
                    {
                        <th colspan="4">Acciones</th>
                    }

                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>

                    @if (ViewBag.role == 2)
                    {
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("SchedulesAssignedInd","Admin", new { id = item.course_id })">Horarios Asignados</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("AsignScheduleToCourse","Admin", new { id = item.course_id })">Asignar Horario</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("SchedulesAssignedInd","Admin", new { id = item.course_id })">Horarios Asignados</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("Edit","Courses", new { id = item.course_id })">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" href="@Url.Action("Delete","Courses", new { id = item.course_id })">Eliminar</a>
                        </td>
                    }

                </tr>
            }

        </table>
    </div>

    <div class="row g-0" style="padding: 1%;">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</body>


</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
