﻿@model IEnumerable<mysqltest.Models.courses>

@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1280, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/cursosPIA.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="curso-avanzado" />
    <div class="container-center-horizontal">
        <div class="curso-avanzado screen">
            <div class="grupo-20">
                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index","Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                    @if (!Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Registration","Account")">
                            <div class="registrarse">Registrarse</div>
                        </a>
                        <a href="@Url.Action("Login","Account")">
                            <div class="iniciar-sesin">Iniciar Sesión</div>
                        </a>
                    }
                </div>
            </div>
            <div class="banner border-1px-willow-grove">
                <div class="overlap-group">
                    <div class="text-3 segoeui-regular-normal-ebb-38px">
                        Bienvenidos <br />al curso de ingles <br /> intermedio
                    </div>
                </div>
                <img class="owlavanzado" src="~/img/owl-intermedio-1@1x.png" />
            </div>
            <img class="lnea-1" src="~/img/l-nea-1-1@1x.png" />
            <h2 style="color: #677C78; margin-top: 2%;" class="text-center">Cursos disponibles</h2>


        </div>
    </div>

    <div style=" width: 86%; margin-left: 7%;">

        <table class="table table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Duración (Meses)</th>
                    <th>Costo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>
                    

                    <td>
                        <a class="btn btn-outline-dark" href="@Url.Action("SchedulesAssignedInd","Admin", new { id = item.course_id })">Ver Horarios</a>
                    </td>

                </tr>
            }

        </table>
    </div>


</body>


</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
