﻿@model IEnumerable<mysqltest.Models.FileControl>
    @Html.Partial("_Moduloslayout")
    @{
    Layout = null;
    }
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    *@
    <div class="container-fluid" style="margin-top:2%;">
        <h3 style="color: #667b68">
            @Html.ActionLink("Create New", "FilesView")
        </h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType)
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.idFile }) |

                    @Html.ActionLink("Eliminar", "Delete", new { id=item.idFile })
                </td>
            </tr>
            }

        </table>
    </div>
