﻿@model mysqltest.Models.FileControl
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Archivo</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    *@
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />

</head>

<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index","Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-4 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">

                        <h2 style="color: ;">Crear Nuevo Archivo</h2>
                        <h4 style="color: darkred;">@ViewBag.Error</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h3 class="control-label col-md-12">Nombre del Archivo</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.FileName, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>


                        <div class="form-group">
                            <h3 class="control-label col-md-12">Tipo de Archivo</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.FileType, new SelectList(ViewBag.tipos), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FileType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-12">Ruta del Archivo</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FilePath, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.FilePath, "", new { @style = "color: #EAD1C5" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12 pb-4" style="margin-top:7%">
                                <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark" href="@Url.Action("FilesList","Admin")">Regresar </a>
                                <input type="submit" value="Crear" class="main_nav_item btn btn-outline-dark" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
