﻿@model mysqltest.Models.multimedia


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Curso</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    *@

</head>

<body style="background-color: #ffffff;">


    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index","Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-4 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">

                        <h2 style="color: ;">Crear Nuevo Video</h2>
                        <h5 style="color: darkred;">@ViewBag.Error</h5>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h3 class="control-label col-md-12">Descripción</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @style = "color: darkred" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-12">Tema</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Tema, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.Tema, "", new { @style = "color: darkred" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-12">URL</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.URL, "", new { @style = "color: darkred" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12 pb-4" style="margin-top:7%">
                                <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark" href="@Url.Action("CheckMedia","Admin")">Regresar </a>
                                <input type="submit" value="Crear" class="main_nav_item btn btn-outline-dark" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
