﻿@model mysqltest.Models.answer_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Respuestas</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">


                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="container-fluid" style="margin-top:5%;">

                <div class="row g-0" style="margin-top:2%; margin-left:1%;">

                    <div class="col-md-9">

                        <a class="btn btn-outline-dark" href="@Url.Action("Solved", "Admin", new { id = @ViewBag.vt, qvt_id =0})">Regresar</a>


                    </div>
                </div>
                <div style=" width: 95%; margin-left: 3%;">

                    <h2 class="text-center" style="color: #677C78">@ViewBag.q</h2>
                    <br />
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <th>Respuesta 1</th>
                                <th>Respuesta 2</th>
                                <th>Respuesta 3</th>
                                <th>Respuesta 4</th>
                                <th>Respuesta Correcta</th>

                            </tr>
                        </thead>
                        <tr class="text-center">
                            <td>
                                @ViewBag.a1
                            </td>
                            <td>
                                @ViewBag.a2
                            </td>
                            <td>
                                @ViewBag.a3
                            </td>
                            <td>
                                @ViewBag.a4
                            </td>
                            <td>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.got_answer, new SelectList(ViewBag.ans), new { @class = "form-control" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.question_vt_id, new { htmlAttributes = new { @Value = ViewBag.qvt, @style = "display:none", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.question_vt_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.question_id, new { htmlAttributes = new { @Value = ViewBag.qid, @style = "display:none", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.question_id, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group" style="margin-left: 44%;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Responder" class="btn btn-outline-dark" />
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
