﻿@model mysqltest.Models.question_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignar Pregunta a Prueba</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-5 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: ;">Asignar pregunta a prueba</h2>
                        <hr />

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Prueba</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.virtual_test, new SelectList(ViewBag.test, "virtual_test_id", "name"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.virtual_test, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (ViewBag.list == 0)
                        {
                            <br />
                            <div class="form-group">
                                <h3 class="control-label col-md-10">Las Preguntas Disponibles ya fueron asignadas a esta prueba.</h3>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <h3 class="control-label col-md-auto">Pregunta</h3>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.question, new SelectList(ViewBag.question, "question_id", "question"), new { @class = "form-control text-dark" })
                                    @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group pb-3">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:5%">
                                <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","VirtualTest")">Regresar</a>
                                @if (ViewBag.list == 1)
                                {
                                    <input input style=" margin-left: " type="submit" value="Asignar" class="btn btn-outline-dark" />
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
