﻿@model IEnumerable<mysqltest.Models.multimedia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Horario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="90px" />
                </div>
            </div>

            <nav class="main_nav_container">
                <div class="main_nav">
                    <li class="main_nav_item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                </div>
            </nav>

        </div>

    </header>

    <div class="container-fluid" style="margin-top:5%;">

        <div class="container-fluid">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("ModuleDisplay","UserProfile", new { id= @ViewBag.c})">Volver a Módulos del Curso</a>
        </div>

        <hr />

        <table class="table table-striped table-bordered table-hover">

            @if (ViewBag.check == 1)
            {

                <thead class="thead-dark">
                    <tr class="text-center">

                        <th>
                            Descripción
                        </th>
                        <th>
                            Tema
                        </th>
                        <th>
                            URL
                        </th>
                       
                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tema)
                        </td>
                        <td>
                            <iframe  height="200" width="300" src =" @Html.DisplayFor(modelItem => item.URL)">
                            </iframe>
                        </td>
                        
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                        <th>
                            Descripción
                        </th>
                        <th>
                            Tema
                        </th>
                        <th>
                            URL
                        </th>
                       
                    </tr>
                <tr class="text-center">

                    <td colspan="6">
                        <b>No hay Video Asignados.</b>
                    </td>
                </tr>
            }



        </table>

    </div>
</body>
</html>
