﻿@*@model IEnumerable<mysqltest.Models.multimedia>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<multimedia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multimedia</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("FilesList","Admin")">
                        <div class="registrarse">Material Didactico</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">ADMINISTRACIÓN DE MULTIMEDIA </h2>
    <div class="row g-0" style="margin-top:2%; margin-left:1%;">
        <div class="container-fluid"  style="  padding: 2%;">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Admin")">Regresar</a>
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AddMedia","Admin")">Agregar Video</a>
        </div>

    </div>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover">
            @if (ViewBag.check == 1)
            {
                <thead class="table-dark">
                    <tr class="text-center">

                        <th>
                            Descripción
                        </th>
                        <th>
                            Tema
                        </th>
                        <th>
                            URL
                        </th>
                        <th>
                            Estado
                        </th>

                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tema)
                        </td>
                        <td>
                            <iframe src=" @Html.DisplayFor(modelItem => item.URL)">
                            </iframe>
                        </td>
                        <td>
                            <a class="btn btn-outline-dark btn-lg btn-block" href="@Url.Action("deleteMedia","Admin", new {id = item.idMultimedia })">Editar</a>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                    <th>
                        Descripción
                    </th>
                    <th>
                        Tema
                    </th>
                    <th>
                        URL
                    </th>

                </tr>
                <tr class="text-center">

                    <td colspan="6">
                        <b>No hay Video Asignados.</b>
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="row g-0" style="padding: 1%;">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</body>
</html>
