﻿@model mysqltest.Models.course_assignment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignar Curso a Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>
<body>

     <!-- header -->
    <header class="header d-flex flex-row">

    </header>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top: 5%;">
         

            <div class="jumbotron jumbotron-fluid" style="background-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: #EAE5E0;">Asignar Curso a Profesor</h2>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.user_id, new SelectList(ViewBag.user, "user_id", "email"), new { @style = "display:none" , @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.course_id, new SelectList(ViewBag.course, "course_id", "name"), new { @style = "display:none", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.course_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-2">Horario</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.schedule_id, new SelectList(ViewBag.sch, "schedule_id", "day"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.schedule_id, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12" style="margin-top:5%">
                                <a class="main_nav_item btn btn-light" href="@Url.Action("AsignCourseToUser","Admin", new { id = @ViewBag.u_id })">Regresar</a>
                                <input type="submit" value="Asignar a Profesor" class="btn btn-dark" />
                                <br /><br />
                                <h4 style="color: #EAD1C5"><b>@ViewBag.error</b></h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
