﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calificación</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">


            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2 style="color: #677C78; margin-top: 2%;" class="text-center">Calificación</h2>


        <div style=" width: 95%; margin-left: 3%;">

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Prueba</th>
                        <th>Total de Preguntas</th>
                        <th>Respuestas Correctas</th>
                        <th>Sin responder</th>
                        <th>Nota</th>
                    </tr>

                    <tr class="text-center">

                        <td>
                            @ViewBag.vt
                        </td>
                        <td>
                            @ViewBag.total_q
                        </td>
                        <td>
                            @ViewBag.cga
                        </td>
                        <td>
                            @ViewBag.unanswered
                        </td>
                        @if (ViewBag.score >= 70)
                        {
                            <td class="text-success">
                                @ViewBag.score
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                @ViewBag.score
                            </td>
                        }

                    </tr>

            </table>
        </div>

        if (ViewBag.role <= 2)
        {
            <a style="margin-left: 44%;" class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","VirtualTest")">Aceptar calificación</a>
        }
        else if (ViewBag.role == 3)
        {
            <a style="margin-left: 44%;" class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","UserProfile")">Aceptar calificación</a>
        }


    }


</body>
</html>
