﻿@model mysqltest.Models.course_assignment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar Matricula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #ffffff;">

    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="140px" />
                </div>
            </div>
        </div>

    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)
        @Html.HiddenFor(model => model.course_assign_id)

        <div class="container-fluid" style="margin-top:5%;">


            <div class="form-horizontal ">
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("PreEnrolledStudents","Admin")">Regresar</a>
            </div>
            <hr />
            <table class="table table-striped table-bordered " style="background-color: #EAE5E0; width: 100%;">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Curso</th>
                        <th>Horario</th>
                        <th>Configuración</th>
                    </tr>
                </thead>

                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(model => model.users.dni, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.users.last_name, new { @class = "form-control" }),
                        @Html.DisplayFor(model => model.users.first_name, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.users.email, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.courses.name, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.schedules.day, new { @class = "form-control" })
                        ( @Html.DisplayFor(model => model.schedules.star_time, new { @class = "form-control" })
                        - @Html.DisplayFor(model => model.schedules.end_time, new { @class = "form-control" }) )
                    </td>
                    <td>
                        <input type="submit" value="Matricular" class="btn btn-outline-danger" />
                    </td>
                </tr>

            </table>

        </div>
    }

</body>
</html>
