﻿@model IEnumerable<mysqltest.Models.course_assignment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Usuario</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                 
                </div>
            </div>
        </div>
    </div>


    <h2 style="color: #677C78;" class="text-center">@ViewBag.Usuario</h2>

    <div class="container-fluid"style=" padding: 2%;">
        <a class="btn btn-outline-dark" href="@Url.Action("IndexProf","User")">Volver a Profesores</a>
    </div>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">
            
                @if (ViewBag.check == 1)
                {
            <thead class="table-dark">
                <tr class="text-center">

                    <th>
                        Curso
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>
                        Estado
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
            </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.courses.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schedules.day)
                            ( @Html.DisplayFor(modelItem => item.schedules.star_time)  - @Html.DisplayFor(modelItem => item.schedules.end_time))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditCourseAssignment","Admin", new { id = item.user_id })">Editar</a>
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteCourseAssignment","Admin", new { id = item.user_id })">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                    <th>
                        Curso
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
                <tr class="text-center">

                    <td colspan="3">
                        <b>No hay Cursos Asignados a este Profesor.</b>
                    </td>
                </tr>
            }


            </table>

        </div>
</body>
</html>
