﻿@model IEnumerable<mysqltest.Models.course_assignment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Usuario</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                 

                </div>
            </div>
        </div>
    </div>
    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">@ViewBag.course</h2>

    <div class="container-fluid" style="padding:2%">
        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Courses")">Regresar a Cursos</a>
        @if (ViewBag.check == 1)
        {
            <span>Cantidad de Alumnos Matriculados:  @ViewBag.studentQty </span>
        }
    </div>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">

            @if (ViewBag.check == 1)
            {
            <thead class="table-dark">
                <tr class="text-center">
                    <th>
                        Identificación
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Correo Electrónico
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>
                        Fecha de Matrícula
                    </th>
                </tr>
            </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.users.dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.last_name), @Html.DisplayFor(modelItem => item.users.first_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.phone_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schedules.day) (
                            @Html.DisplayFor(modelItem => item.schedules.star_time) - @Html.DisplayFor(modelItem => item.schedules.end_time) )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.enrollTime)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                    <th>
                        Identificación
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Correo Electrónico
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>
                        Fecha de Matrícula
                    </th>
                </tr>
                <tr class="text-center">
                    <td colspan="6">
                        <b>No hay Estudiantes Matriculados en este Horario</b>
                    </td>
                </tr>
            }



        </table>
    </div>

  
</body>
</html>
