﻿@model mysqltest.Models.multimedia

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>multimedia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <iframe
                src=" @Html.DisplayFor(model => model.URL)">
            </iframe>    
    </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
