﻿@model mysqltest.Models.multimedia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Asignación de Pregunta</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                 
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idMultimedia)

        <div class="form-actions no-color">

            <div class="row justify-content-center" style="margin-top: 3%;">


                <div class="col-lg-7 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: ;">Editar Estado de Recurso Multimedia</h2>
                        </div>


                        <hr />

                        <table class="table table-striped table-bordered" style="background-color: #D2DCCD;">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Decripción</th>
                                    <th>Tema</th>
                                    <th>URL</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>

                            <tr class="text-center">
                                <td>
                                    @Model.Description
                                </td>
                                <td>
                                    @Model.Tema
                                </td>
                                <td>
                                    @Model.URL
                                </td>
                                <td>
                                    @Model.Estado
                                </td>
                            </tr>

                        </table>

                        <div class="form-group pb-5">
                            <h5 class="control-label col-md-2">Estado</h5>
                            <div class="col-md-1">
                                @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.status2), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group pb-3">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CheckMedia","Admin")">Regresar</a>
                            <input type="submit" value="Editar" class="btn btn-outline-dark" />
                        </div>


                    </div>

                </div>
            </div>

        </div>
    }
</body>
</html>
