﻿@model mysqltest.Models.question_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Asignación de Pregunta</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                  
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.question_vt_id)

        <div class="form-actions no-color">

            <div class="row justify-content-center" style="margin-top: 3%;">


                <div class="col-lg-5 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: ;">Eliminar Asignacion de Pregunta a Prueba</h2>
                        </div>


                        <hr />

                        <table class="table table-striped table-bordered" style="background-color: #D2DCCD;">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Prueba</th>
                                    <th>Pregunta</th>
                                </tr>
                            </thead>

                            <tr class="text-center">
                                <td>
                                    @ViewBag.question
                                </td>
                                <td>
                                    @ViewBag.vt
                                </td>
                            </tr>

                        </table>

                        <div class="form-group pb-3" style="margin-top:7%">
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("QuestionsAssignedInd","Admin", new { id = @ViewBag.vtid})">Regresar</a>
                            <input style=" margin-left: " type="submit" value="Eliminar" class="btn btn-outline-danger" />
                        </div>


                    </div>

                </div>
            </div>

        </div>
    }
</body>
</html>
