﻿@model mysqltest.Models.course_schedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Asignación de Horario</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
</head>
<body>
    <!-- header -->


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top: 3%;">


            <div class="jumbotron jumbotron-fluid" style="background-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h4 style="color: #677C78;">Reasignación de Horario</h4>
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.course_sh_id)


                        <div class="form-group">
                            <h5 class="control-label col-md-2">Nuevo Horario</h5>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.schedule_id, new SelectList(ViewBag.schedule, "schedule_id", "day"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.schedule_id, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                <a class="nav-link active" href="@Url.Action("SchedulesAssigned","Admin")">Regresar</a>
                                <input style=" margin-left: 25%" type="submit" value="Editar" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</body>
</html>
