﻿@model mysqltest.Models.module_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Asignación de Prueba</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>

</head>
<body>
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    
                </div>
            </div>
        </div>
    </div>
    <!-- header -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-lg-4 px-lg-3 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: ;">Editar Asignación de Prueba</h2>
                        <p style="color: #EAD1C5;">@ViewBag.Error</p>
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.module_VT_id)


                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Módulo</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.module, new SelectList(ViewBag.module, "module_id", "name"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.module, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Prueba Virtual</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.virtual_test, new SelectList(ViewBag.test, "virtual_test_id", "name"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.virtual_test, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Hora de Inicio</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.star_time, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.star_time, "", new { @class = "text-danger" })
                            </div>

                            <script>
                                $('#star_time').datetimepicker({

                                    changeMonth: true,
                                    changeYear: true,
                                    FormData: 'H:i',
                                    timepickerScrollbar: false
                                });
                            </script>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Hora de Finalización</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.end_time, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.end_time, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                <script>

                                    $('#end_time').datetimepicker({

                                        changeMonth: true,
                                        changeYear: true,
                                        FormData: 'H:i',
                                        timepickerScrollbar: false
                                    });

                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-auto">Nota Mímima</h3>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.min_grade, new { htmlAttributes = new { @class = "form-control text-dark" } })
                                @Html.ValidationMessageFor(model => model.min_grade, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <div class="form-group pb-3">
                                <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("TestsAssignedInd","Admin", new {id = Model.module, idc= 0})">Regresar</a>
                                    <input style=" margin-left: " type="submit" value="Editar" class="btn btn-outline-dark" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
