﻿@model mysqltest.Models.question_vt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Asignación de Pregunta</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />

</head>
<!-- header -->


<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid" style="margin-top: 3%;">

            <div class="jumbotron jumbotron-fluid" style="background-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: #EAE5E0;">Reasingar pregunta</h2>
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.question_vt_id)


                        <div class="form-group">
                            <h3 class="control-label col-md-2">Pregunta</h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.question, new SelectList(ViewBag.question, "question_id", "question"), new { @class = "form-control text-dark" })
                                @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="margin-top:7%">
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("QuestionsAssignedInd","Admin")">Regresar</a>
                                <input style=" margin-left: 25%" type="submit" value="Editar" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

</body>
</html>
