﻿@model mysqltest.Models.course_assignment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Matricula de Curso</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <!-- header -->
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="inicio">Inicio</div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 3%;">


            <div class="col-lg-8 px-lg-8 pt-4 card" style="style= border: 1xp; border-color: #667b68;">
                <div class="container">

                    <div class="form-horizontal">
                        <h2 style="color: ;">Matricular Curso</h2>
                        <hr />

                        <div class="form-group">
                            <h3 class="control-label col-md-12">Usuario:</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.user_id, new SelectList(ViewBag.user, "user_id", "email"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-12">Curso:</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.course_id, new SelectList(ViewBag.course, "course_id", "name"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.course_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3 class="control-label col-md-12">Horario:</h3>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.schedule_id, new SelectList(ViewBag.schedule, "schedule_id", "day"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.schedule_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />
                        <h4 class="control-label col-md-12">* El cupo para este curso se le guardará hasta hoy @DateTime.Today.Date.ToString("d") a las 11:59 p.m.</h4>
                        

                        <div class="form-group pb-5">
                            <div class="col-md-offset-2 col-md-10 " style="margin-top:5%">
                                <a style=" margin-left: 2%" class="main_nav_item btn btn-outline-dark"
                                   href="@Url.Action("SchedulesAssignedInd","Admin", new { id = ViewBag.u })">Regresar</a>

                                <input input style="" type="submit" value="Guardar Espacio de Matrícula" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</body>
</html>
