﻿@*@model IEnumerable<mysqltest.Models.FileControl>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<FileControl>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archivos</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />

</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                    <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administraci&oacute;n</div>
                    </a>
                    <a href="@Url.Action("CheckMedia","Admin")">
                        <div class="registrarse">Multimedia</div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>


    <h2 style="color: #677C78; margin-top:2%;" class="text-center">ADMINISTRACIÓN DE ARCHIVOS</h2>

    <div class="container-fluid" style="margin-top:3%;">

        <div class="row g-0" style="margin-bottom:2%; margin-left:1%;">

            <div class="col-md-9" style="padding:2%;">

                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Admin")">Regresar</a>
                @if (ViewBag.role == 1)
                {
                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AddFiles","Admin")">Crear Nuevo Archivo</a>

                }
            </div>

            <div class="col-md-3">

                <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                    <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

                </form>
            </div>

            <div style=" width: 95%; margin-left: 3%;">

                <table class="table table-hover">

                    @if (ViewBag.check == 1)
                    {

                        <thead class="table-dark">
                            <tr class="text-center">

                                <th>
                                    Nombre de Archivo
                                </th>
                                <th>
                                    Tipo de Archivo
                                </th>
                                <th>
                                    Ruta de Archivo
                                </th>
                                <th colspan="2">
                                    Acciones
                                </th>

                            </tr>
                        </thead>
                        foreach (var item in Model)
                        {
                            <tr class="text-center">

                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FilePath)
                                </td>
                                <td>
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteFile","Admin", new { id = item.idFile })">Eliminar</a>
                                </td>
                                <td>
                                    <a class="main_nav_item btn btn-outline-dark" href="@item.FilePath" target="_blank">Ir al Archivo</a>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-center">

                            <th>
                                Tema
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Módulo
                            </th>
                            <th>
                                Descarga
                            </th>

                        </tr>
                        <tr class="text-center">

                            <td colspan="6">
                                <b>No hay Material Asignado.</b>
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div class="row g-0" style="padding: 1%;">
                <div class="col-md-6">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="col-md-6">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>



</body>
</html>
