
@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- css files -->
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" />


    <!-- //css files -->
    <style>
        li {
            list-style-type: none;
            padding-top: 1%;
        }
    </style>
</head>
<body>

    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20 row">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    <a href="@Url.Action("Index","Home")">
                        <div class="registrarse">Inicio</div>
                    </a>

                    <div class="text-end" style="margin-left:25%;">
                        <a href="@Url.Action("Index","UserProfile")">
                            <img class="" style="width:45px;" src="~/img/outline-person-white-48dp@1x.png" />
                        </a>
                        <a href="@Url.Action("Salir","Account")">
                            <button class="btn btn-danger" data-id="anima-widget">
                                <span class="">Salir</span>
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


<div class="card-deck" style="margin:2%;">
    <div class="card">
        <img class="card-img-top" src="~/img/owl-principiante-1@1x.png">
        <div class="card-body">
            <h2 class="card-title pt-3">Cursos</h2>
            <ul>

                <li id="ListCursos"><a class="list-group-item list-group-item-action" href="@Url.Action("Index","Courses", new { message=""})"><span>Lista de cursos</span></a></li>
                @if (ViewBag.role == 1)
                {
                    <li id="ListTypeCursos"><a class="list-group-item list-group-item-action" href="@Url.Action("Index","CourseType")"><span>Tipos de curso</span></a></li>
                    <li id="crearHorarios"><a class="list-group-item list-group-item-action" href="@Url.Action("Index","Schedule")"><span>Horarios</span></a></li>
                }
            </ul>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/owl-intermedio-1@1x.png">
        <div class="card-body pb-3">
            <h2 class="card-title pt-3">Modulos</h2>
            <ul>
                <li><a class="list-group-item list-group-item-action" href="@Url.Action("Index","Module")">Lista de M&oacute;dulos</a></li>
                <li><a class="list-group-item list-group-item-action" href="@Url.Action("TestResults","Admin")">Registro de Notas</a></li>
                <li><a class="list-group-item list-group-item-action" href="@Url.Action("Index","VirtualTest")">Pruebas Virtuales</a></li>
                

                @if (ViewBag.role == 1)
                {
                    <li><a class="list-group-item list-group-item-action" href="@Url.Action("FilesList","Admin")">Material Did&aacute;ctico</a></li>
                   
                }
            </ul>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/owl-principiante-1@1x.png" >
        <div class="card-body pt-3">
            <h2 class="card-title">Usuarios</h2>
            <ul>

                @if (ViewBag.role == 1)
                {
                    <li><a c class="list-group-item list-group-item-action" href="@Url.Action("IndexAdmin","User")">Administradores</a></li>
                    <li><a class="list-group-item list-group-item-action" href="@Url.Action("IndexProf","User")">Profesores</a></li>
                    <li><a class="list-group-item list-group-item-action" href="@Url.Action("IndexEnrollStudents","User")">Estudiantes</a></li>
                }
                else
                {
                    <li><a href="#">No puedes acceder a esta Secci&oacute;n</a></li>
                }
            </ul>
        </div>
    </div>
</div>

</body>
</html>