﻿@model IEnumerable<mysqltest.Models.course_assignment>

@{
    
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudiantes Prematriculados</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                 

                </div>
            </div>
        </div>
    </div>


    <h2 style="color: #677C78;" " class="text-center">ADMINISTRACION DE ESTUDIANTES PRE-MATRICULADOS</h2>
    <div class="row g-0" style="margin-top:2%; margin-left:1%;">
        <div class="container-fluid"style="padding: 2%;">
            <a class="btn btn-outline-dark" href="@Url.Action("IndexEnrollStudents","User")">Regresar</a>
        </div>
        <div style=" width: 95%; margin-left: 3%;">


            <table class="table table-hover">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Identificación</th>
                        <th>Curso</th>
                        <th>Horario</th>
                        <th>Configuración</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.users.dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.courses.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schedules.day) (@Html.DisplayFor(modelItem => item.schedules.star_time) - @Html.DisplayFor(modelItem => item.schedules.end_time) )
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("ConfirmEnrollment","Admin", new { id = item.course_assign_id})">Confirmar Matricula</a>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteEnrollment","User", new { id = item.course_assign_id})">Eliminar Matricula</a>
                        </td>
                    </tr>
                }

            </table>

        </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
