﻿@model IEnumerable<mysqltest.Models.question_vt>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Pregunta-Prueba</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                 
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top:5%;">

        <h3 style="color: #677C78;" class="text-center">ADMINISTRACION DE ASIGNACION PREGUNTA-PRUEBA</h3>

        <div class="container-fluid">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","VirtualTest")">Volver a Pruebas</a>
        </div>
        <div class="col-md-3" style="margin-left: 75%;">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <div style=" width: 95%; margin-left: 3%;">

           <table class="table table-hover" id="myTable">
               <thead class="table-dark">
                   <tr class="text-center">

                       <th>
                           Pregunta
                       </th>
                       <th>
                           Prueba
                       </th>
                       <th colspan="2">
                           Acciones
                       </th>
                   </tr>
               </thead>
                @foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.questions.question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.virtual_tests.name)
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditQstAssignment","Admin", new { id = item.question_vt_id })">Editar</a>
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteQstAssignment","Admin", new { id = item.question_vt_id })">Eliminar</a>
                        </td>
                    </tr>
                }

            </table>

        </div>
</body>
</html>
