﻿@model IEnumerable<mysqltest.Models.question_vt>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prueba evaluatoria</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />

</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                   

                </div>
            </div>
        </div>
    </div>

    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">@ViewBag.prueba</h2>
    <div class="container-fluid" style="margin:2%;">
        <a class="btn btn-outline-dark" href="@Url.Action("Index","VirtualTest")">Volver atrás</a>
    </div>
        <div style=" width: 95%; margin-left: 3%;">

            <table class="table table-hover">

                @if (ViewBag.check == 1)
                {
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>Pregunta</th>
                            <th>Respuesta 1</th>
                            <th>Respuesta 2</th>
                            <th>Respuesta 3</th>
                            <th>Respuesta 4</th>
                            <th>Respuesta Correcta</th>
                            @if (ViewBag.role == 1)
                            {
                                <th>Acciones</th>
                            }

                        </tr>
                    </thead>

                    foreach (var item in Model)
                    {
                        <tr class="text-center">

                            <td>
                                @Html.DisplayFor(modelItem => item.questions.question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.questions.answer1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.questions.answer2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.questions.answer3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.questions.answer4)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.questions.correct_answer)
                            </td>
                            @*<td>
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditQstAssignment","Admin", new { id = item.question_vt_id })">Editar</a>
                                </td>*@
                            @if (ViewBag.role == 1)
                            {
                                <td>
                                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteQstAssignment","Admin", new { id = item.question_vt_id })">Eliminar</a>
                                </td>
                            }

                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center">
                        <th>Pregunta</th>
                        <th>Respuesta 1</th>
                        <th>Respuesta 2</th>
                        <th>Respuesta 3</th>
                        <th>Respuesta 4</th>
                        <th>Respuesta Correcta</th>
                        <th colspan="2">Acciones</th>
                    </tr>

                    <tr class="text-center">

                        <td colspan="8">
                            <b>No hay Preguntas Asignadas a esta Prueba.</b>
                        </td>
                    </tr>

                }



            </table>

        </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
