﻿@*@model IEnumerable<mysqltest.Models.course_schedule>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<course_schedule>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Horario</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                   

                </div>
            </div>
        </div>
    </div>


    <h2 style="color: #677C78; margin-top: 2%;" class="text-center">@ViewBag.course</h2>
    <br />
    <div class="container-fluid"  style="padding:2%">

        @if (ViewBag.role != 3)
        {
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Courses")">Regresar a Cursos</a>
        }
        else
        {
            if (ViewBag.type == 1)
            {
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexPrincipiante","Courses")">Regresar a Cursos: Principiante</a>
            }
            else if (ViewBag.type == 2)
            {
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexIntermedio","Courses")">Regresar a Cursos: Intermedio</a>
            }
            else
            {
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexAvanzado","Courses")">Regresar a Cursos: Avanzado</a>
            }
        }

    </div>

    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">

            @if (ViewBag.check == 1)
            {
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>
                            Horario
                        </th>
                        @if (ViewBag.role == 1)
                        {
                            <th colspan="2">
                                Acciones
                            </th>
                        }
                        else if (ViewBag.role > 1)
                        {
                            <th>
                                Acciones
                            </th>
                        }
                    </tr>
                </thead>

                foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.schedules.day)
                            (@Html.DisplayFor(modelItem => item.schedules.star_time) - @Html.DisplayFor(modelItem => item.schedules.end_time))
                        </td>
                        @if (ViewBag.role == 1)
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CoursesAssignedTC","Admin", new { id = item.course_id, schedule = item.schedule_id })">Lista de Estudiantes</a>
                            </td>

                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteSchAssignment","Admin", new { id = item.course_sh_id })">Eliminar</a>
                            </td>
                        }
                        else if (ViewBag.role == 2)
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CoursesAssignedTC","Admin", new { id = item.course_id, schedule = item.schedule_id })">Lista de Estudiantes</a>
                            </td>
                        }
                        else
                        {
                            <td>

                                @if (@ViewBag.preenroll == 0)
                                {
                                    if (Request.IsAuthenticated)
                                    {
                                        <a class="main_nav_item btn btn-outline-dark"
                                           href="@Url.Action("EnrollCourse","Admin", new { course = item.course_id , schedule = item.schedule_id, user = ViewBag.user })">Matricular</a>
                                    }
                                    else
                                    {
                                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Registration","Account")">Matricular</a>
                                    }
                                }
                                else if (@ViewBag.preenroll == 1)
                                {
                                    if (item.schedule_id == ViewBag.sch)
                                    {
                                        <a class="main_nav_item btn btn-outline-dark disabled" href="@Url.Action("Registration","Account")">Pre-Matriculado</a>
                                    }
                                    else
                                    {
                                        <a class="main_nav_item btn btn-outline-dark"
                                           href="@Url.Action("EnrollCourse","Admin", new { course = item.course_id , schedule = item.schedule_id, user = ViewBag.user })">Matricular</a>
                                    }

                                }
                                else
                                {
                                    if (item.schedule_id == ViewBag.sch)
                                    {
                                        <a class="main_nav_item btn btn-outline-dark disabled" href="@Url.Action("Registration","Account")">Matriculado</a>
                                    }
                                    else if (item.schedule_id == ViewBag.sch2)
                                    {
                                        <a class="main_nav_item btn btn-outline-dark disabled" href="@Url.Action("Registration","Account")">Horario No Disponible por Conflicto con otro Curso</a>
                                    }
                                    else
                                    {
                                        <a class="main_nav_item btn btn-outline-dark"
                                           href="@Url.Action("EnrollCourse","Admin", new { course = item.course_id , schedule = item.schedule_id, user = ViewBag.user })">Matricular</a>
                                    }
                                }

                            </td>
                        }
                    </tr>
                }



            }
            else
            {
                <tr class="text-center">

                    <th>
                        Día
                    </th>
                    <th>
                        Hora de Inicio
                    </th>
                    <th>
                        Hora de Finalización
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
                <tr class="text-center">

                    <td colspan="5">
                        <b>No hay Horarios Asignados a este curso.</b>
                    </td>
                </tr>
            }



        </table>
    </div>

    <div class="row g-0" style="padding: 1%;">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>


</body>
</html>
