﻿@model IEnumerable<mysqltest.Models.course_schedule>
@Html.Partial("_adminLayout")
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Horario</title>
    <link href="~/css/navStyle/navStyle.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78;" class="text-center">ADMINISTRACION DE ASIGNACION HORARIO-CURSO</h2>
        <br />
        <div class="container-fluid">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Courses")">Volver a Cursos</a>
        </div>
        <div class="container-fluid" style="margin-left: 78%; width: 23%;">

            <form class="form-inline my-2 my-lg-0 " style="margin-right: 0%">
                <input class="form-control mr-sm-2" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#667b68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </form>
        </div>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <hr />

        <table class="table table-striped table-bordered table-hover" id="myTable">
            <thead class="thead-dark">
                <tr class="text-center">

                    <th>
                        Curso
                    </th>
                    <th>
                        Día
                    </th>
                    <th>
                        Hora de inicio
                    </th>
                    <th>
                        Hora de finalización
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.courses.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.schedules.day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.schedules.star_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.schedules.end_time)
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditSchAssignment","Admin", new { id = item.course_sh_id })">Editar</a>
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteSchAssignment","Admin", new { id = item.course_sh_id })">Eliminar</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
