﻿@model IEnumerable<mysqltest.Models.module_vt>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Horario</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px" style="color:white;">

                  @*  <a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administracion</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78;" class="text-center">@ViewBag.module</h2>



        @if (ViewBag.idc == 0)
        {
            <div class="container-fluid">
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Module")">Regresar a módulos de curso</a>
            </div>
        }
        else
        {
            <div class="container-fluid">
                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("ModuleDisplay","UserProfile", new { id = ViewBag.idc})">Regresar a Módulos del Curso</a>
            </div>
        }
        <hr />
        <table class="table table-striped table-bordered table-hover">
            @if (ViewBag.check == 1)
            {
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>
                            Prueba
                        </th>
                        <th>
                            Hora de Inicio
                        </th>
                        <th>
                            Hora de Finalización
                        </th>
                        <th>
                            Nota Mínima
                        </th>
                        @if (ViewBag.role == 1)
                        {
                            <th colspan="2">
                                Acciones
                            </th>
                        }
                        else if (ViewBag.role == 2)
                        {
                            <th>
                                Acción
                            </th>
                        }
                        else if (ViewBag.role == 3)
                        {
                            <th>
                                Acción
                            </th>
                            <th>
                                Datos de la Prueba
                            </th>
                        }
                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr class="text-center">

                        <td>
                            @Html.DisplayFor(modelItem => item.virtual_tests.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.end_time.DayOfWeek) - @Html.DisplayFor(modelItem => item.star_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.end_time.DayOfWeek) - @Html.DisplayFor(modelItem => item.end_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.min_grade)
                        </td>
                        @if (ViewBag.role == 1)
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditTestAssignment","Admin", new { id = item.module_VT_id })">Editar</a>
                            </td>
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteTestAssignment","Admin", new { id = item.module_VT_id })">Eliminar</a>
                            </td>
                            
                        }
                        else if (ViewBag.role == 2)
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditTestAssignment","Admin", new { id = item.module_VT_id })">Editar</a>
                            </td>
                        }
                        else if (ViewBag.role == 3)
                        {
                            if (DateTime.Today.Date < item.star_time.Date ||
                            item.star_time.Date == DateTime.Today.Date && DateTime.Now.Hour < item.star_time.Hour)
                            {
                                <td>
                                    Prueba No Disponible hasta: @item.star_time.Day/@item.star_time.Month/@item.star_time.Year a las @item.star_time.Hour horas
                                </td>
                                <td>
                                    N/A
                                </td>
                            }
                            else
                            {
                                ViewBag.ct = 0;
                                var a = 0;
                                foreach (var temp in ViewBag.vts) //Recibe la lista de ids de VTs realizadas y los compara con el de la lista de pruebas de módulo
                                {
                                    if (item.virtual_test == temp)
                                    {
                                        ViewBag.ct = 1;
                                        a = temp;
                                    }
                                }
                                if (ViewBag.ct == 0)
                                {
                                    if (DateTime.Now.Date == item.end_time.Date && DateTime.Now.Hour >= item.star_time.Hour &&
                                    DateTime.Now.Hour < item.end_time.Hour)
                                    {
                                        <td>
                                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Solved", "Admin", new { id = item.virtual_test, qvt_id = 0 })">Realizar Prueba</a>
                                        </td>

                                        <td>
                                            N/A
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            El tiempo para realizar la prueba expiró.
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                    }

                                }
                                else
                                {
                                    <td>
                                        Prueba Previamente Realizada
                                    </td>
                                    <td>
                                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("TestResultInd", "Admin", new { id = item.virtual_test, m = ViewBag.id, c = ViewBag.idc })">Ver Resultado</a>
                                    </td>
                                }
                            }
                        }

                    </tr>
                }
            }
            else
            {
                <tr class="text-center">

                    <th>
                        Prueba
                    </th>
                    <th>
                        Hora de Inicio
                    </th>
                    <th>
                        Hora de Finalización
                    </th>
                    <th>
                        Nota Mínima
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
                <tr class="text-center">
                    <td colspan="6">
                        <b>No hay Pruebas Asignadas a este Módulo.</b>
                    </td>
                </tr>
            }



        </table>




    </div>
</body>
</html>