﻿@*@model IEnumerable<mysqltest.Models.modules>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<vt_scored_record>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Módulos de Curso</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">

                    @*<a href="@Url.Action("Index", "Admin")">
                        <div class="inicio">Administracion</div>
                    </a>
                    <a href="@Url.Action("Index","CourseType")">
                        <div class="registrarse">Tipos de curso</div>
                    </a>
                    <a href="@Url.Action("Index","Schedule")">
                        <div class="iniciar-sesin">Horarios</div>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78" ; class="text-center">Registro de Notas de Estudiantes</h2>

        <div class="row g-0" style="margin-top:2%; margin-left:1%;">

            <div class="col-md-9">
                <a class="main_nav_item btn  btn-outline-dark" href="@Url.Action("Index","Admin")">Regresar</a>

                @if (ViewBag.role == 1)
                {
                    <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Create","Module")">Crear Nuevo Módulo</a>
                }
            </div>

            <div class="col-md-3">

                <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                    <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

                </form>
            </div>

        </div>


        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

        <hr />
        <table class="table table-striped table-bordered table-hover" id="myTable">
            <thead class="thead-dark">
                <tr class="text-center">

                    <th>
                        Idetificación
                    </th>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Prueba Virtual
                    </th>
                    <th>
                        Total de Preguntas
                    </th>
                    <th>
                        Respuestas Correctas
                    </th>
                    <th>
                        Nota Obtenida
                    </th>
                    <th>
                        Fecha de Realización
                    </th>
                    @*<th>
                        Acciones
                    </th>*@


                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.users.dni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.users.first_name) @Html.DisplayFor(modelItem => item.users.last_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.virtual_tests.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_questions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correct_got_answer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.record_date)
                    </td>
                    @*<td>
                        <a class="btn btn-outline-dark" href="@Url.Action("TestsAssignedInd","Admin")">Habilitar</a>
                    </td>*@
                </tr>
            }

        </table>

        <div class="row g-0" style="margin-left:1%;">
            <div class="col-md-10">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="col-md-2">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

    </div>

</body>
</html>
