﻿@model IEnumerable<mysqltest.Models.module_vt>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Curso-Horario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- header -->
    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/images/logo.png" width="140px" />
                </div>
            </div>
            <nav class="main_nav_container">
                <div class="main_nav">
                    


                </div>
            </nav>
        </div>

    </header>

    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78;" class="text-center">ADMINISTRACION DE ASIGNACION DE PRUEBAS-MODULO</h2>

        <div class="container-fluid">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Index","Module")">Volver a Módulos de Curso</a>
        </div>

        <div class="container-fluid" style="margin-left: 78%; width: 23%;">

            <form class="form-inline my-2 my-lg-0 " style="margin-right: 0%">
                <input class="form-control mr-sm-2" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#667b68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </form>
        </div>

        <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        </script>

        <hr />

        <table class="table table-striped table-bordered table-hover" id="myTable">
            <thead class="thead-dark">
                <tr class="text-center">

                    <th>
                        Módulo
                    </th>
                    <th>
                        Prueba
                    </th>
                    <th>
                        Hora de Inicio
                    </th>
                    <th>
                        Hora de Finalización
                    </th>
                    <th>
                        Nota Mínima
                    </th>
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.modules.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.virtual_tests.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.star_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.end_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.min_grade)
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("EditTestAssignment","Admin", new { id = item.module_VT_id })">Editar</a>
                    </td>
                    <td>
                        <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("DeleteTestAssignment","Admin", new { id = item.module_VT_id })">Eliminar</a>
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
