﻿@model IEnumerable<mysqltest.Models.vt_scored_record>

@{
    Layout = null;
}

<!DOCTYPE html>
@*@Html.Partial("_Crudslayout")*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asignación Módulo-Archivo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header class="header d-flex flex-row">

        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logoA">
                    <img src="~/img/logo-png-1@1x.png" width="90px" />
                </div>
            </div>

            <nav class="main_nav_container">
                <li class="main_nav_item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
            </nav>

        </div>

    </header>

    <div class="container-fluid" style="margin-top:5%;">

        <h2 style="color: #677C78;" class="text-center">@ViewBag.vt</h2>

        <div class="container-fluid">
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("TestsAssignedInd","Admin", new { id = ViewBag.module, idc = ViewBag.course})">Volver atrás</a>
        </div>

        <hr />

        <table class="table table-striped table-bordered table-hover">

            <thead class="thead-dark">
                <tr class="text-center">

                    <th>
                        Total de Preguntas
                    </th>
                    <th>
                        Respuestas Correctas
                    </th>
                    <th>
                        Nota Obtenida
                    </th>
                    <th>
                        Fecha de Realización
                    </th>
                    <th>
                        Resultado
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.total_questions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correct_got_answer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.record_date)
                    </td>
                    <td>
                        @if (item.score >= ViewBag.minScore)
                        {
                            <h3 style="font-weight:bold; color: green;">Aprobado</h3>
                        }
                        else
                        {
                            <h3 style="font-weight:bold; color: red;">Reprobado</h3>
                        }
                    </td>

                </tr>
            }

        </table>

    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>