﻿@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deshabilitar</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>

<body style="background-color: #ffffff;">


    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">


            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)


        <div class="form-actions no-color">

            <div class="row justify-content-center" style="margin-top: 3%;">

                <div class="col-lg-8 px-lg-3 pt-4 card" style=" border: ; border-color: #667b68;">
                    <div class="container">

                        <div class="form-horizontal">
                            <h2 style="color: ;">Deshabilitir Usuario</h2>
                        </div>
                        <hr />
                        <table class="table table-striped table-bordered " style="background-color: #D2DCCD;  margin-top: 4% ">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>

                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(model => model.dni, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.first_name, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.last_name, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.email, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.phone_number, new { @class = "form-control" })
                                </td>

                            </tr>

                        </table>

                        <div class="form-group pb-5" style="margin-top:7%">
                             <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("IndexEnrollStudents","User")">Regresar</a>
                             <input type="submit" value="Deshabilitar" class="main_nav_item btn btn-outline-danger" />
                        </div>

                    </div>

                </div>
            </div>

        </div>

    }

</body>
</html>
