﻿@*@model IEnumerable<mysqltest.Models.users>*@

@using mysqltest.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<role_user>



@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios Profesores</title>
    <link rel="stylesheet" type="text/css" href="~/css/Cruds/crud-general2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
    <link href="~/css/Pagination.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/css-boots/bootstrap.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="crud-general2" />
    <div class="container-center-horizontal">
        <div class="crud-general2 screen">

            <div class="grupo-20">

                <div class="layout segoeui-regular-normal-ebb-22px">
                 
                </div>
            </div>
        </div>
    </div>

    <h2 style="color: #677C78; margin-top: 3%;" class="text-center">PROFESORES DE LA PLATAFORMA</h2>
    <br />

    <div class="row g-0" style="margin-top:2%; margin-left:1%;">

        <div class="col-md-9">
            <a class="main_nav_item btn  btn-outline-dark" href="@Url.Action("Index","Admin")">Regresar</a>
            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CreateProf","User")">Crear Nuevo Profesor</a>
        </div>
        <div class="col-md-3">

            <form class="form-inline my-2 my-lg-0 " style="margin: 10%; padding: 5%;">
                <input class="form-control mr-sm-2 text-dark" type="text" id="search" placeholder="Buscar" onkeyup="myFunction()">

            </form>
        </div>

    </div>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <div style=" width: 95%; margin-left: 3%;">

        <table class="table table-hover" id="myTable">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th colspan="3">Configuración</th>
                </tr>
            </thead>

            @if (ViewBag.check != 0)
            {
                foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.users.dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.first_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.last_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.users.phone_number)
                        </td>
                        @if (item.users.status == true)
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Disable","User", new { id = item.user_id, id2 = 2 })">Deshabilitar</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("Enable","User", new { id = item.user_id, id2 = 2 })">Habilitar</a>
                            </td>
                        }
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("AsignCourseToUser","Admin", new { id = item.user_id, err = "" })">Asignar Curso</a>
                        </td>
                        <td>
                            <a class="main_nav_item btn btn-outline-dark" href="@Url.Action("CoursesAssignedInd","Admin", new { id = item.user_id })">Cursos Asignados</a>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr class="text-center">
                    <td colspan="6">
                        No hay Profesores Registrados
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="row g-0" style="padding: 1%;">
        <div class="col-md-6">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
