﻿@model mysqltest.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Actualizar Contraseña</title>
    <link href="~/css/homeCss/home.css" rel="stylesheet" />
    <link href="~/css/Cruds/crud-general2.css" rel="stylesheet" />
    <link href="~/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/globals.css" rel="stylesheet" />
    <link href="~/css/css-boots/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center" style="margin-top: 10%;">

            <div class="col-lg-3 px-lg-3 pt-4 card" style="style = border: 1xp; border-color: #667b68; background-color: #667b68">
                <div class="container">
                    @*<form action="#" class="container">*@

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group pb-3">
                            <div class="col-md-auto">
                                <h2 class="text-center" style="color:#fff ; ">Cambio de Contraseña</h2>
                            </div>
                            <hr />
                        </div>

                        <div class="form-group pb-3">
                            <div class="col-md-auto">
                                @Html.PasswordFor(model => model.first_name, new { @class = "form-control", placeholder = "Contraseña Actual" })
                                <h4 class="text-danger">@ViewBag.Error</h4>
                            </div>
                        </div>

                        <div class="form-group pb-4">
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Nueva Contraseña" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group pb-5">
                            <div class="col-md-auto">
                                @Html.PasswordFor(model => model.first_name, new { @class = "form-control", placeholder = "Confirmación de Contraseña" })
                                <h4 class="text-danger">@ViewBag.Error</h4>
                            </div>
                        </div>

                        <div class="form-group pb-4">
                            <div class="col-md-offset-2 col-md-auto">
                                <input type="submit" value="Guardar Nueva Contraseña" class="main_nav_item btn btn-outline-light" />
                            </div>
                        </div>
                    </div>

                    @*</form>*@

                </div>
            </div>
        </div>
    }
</body>
</html>
