﻿<!DOCTYPE html>
<html>
<head>

    <title>OWL LEARNING</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" />

    <!-- Script -->
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Script -->
    <!-- Script files -->
    <!-- //Script files -->
    <!-- css files -->
    @*<link href="~/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
        <link href="~/css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
        <link href="~/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
        <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
        <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
        <link href="~/css/bootstrap4/bootstrap.min.css rel=" stylesheet" type="text/css" ">
        <link href="~/css/responsive.css" rel="stylesheet" type="text/css">
        <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
        <!-- //css files -->
        <!-- //css files -->
        <!-- google fonts -->
        <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
        <!-- //google fonts -->*@
</head>
<body>
    <div class="">
        <nav class="">
            <!-- Logo -->
            <div class="logo"
                <a href="@Url.Action("Index", "Home")"> <img src="~/images/logo.png" /> </a>
            </div>
            <!--//Logo -->
            <!-- Main Navigation -->
            <ul class=" nav-links mr-5 pr-5">
                <li class="main_nav_item "><a href="#about">Acerca </a></li>
                <li class="main_nav_item "><a href="#cursos">Cursos</a></li>


                @if (Request.IsAuthenticated)
                {
                    if (Session["UserId"].ToString().Equals("1") || Session["UserId"].ToString().Equals("2"))
                    {
                       <li class="main_nav_item"><a href="@Url.Action("Index", "Admin")">Administración</a></li>
                    }
                }
            </ul>
            <!--//Main Navigation -->
            <!-- Menu hamburguesa -->
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <!--//Menu hamburguesa -->
            <!-- perfil y salir-->
            <div class="ml-5 pl-3 justify-content-end">
                <div class="row main_nav py-3">

                    @if (Request.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col">
                                <form class=" text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <a href="@Url.Action("Index","UserProfile")" class="main_nav_item btn btn-outline-light">
                                            @Html.ViewContext.HttpContext.User.Identity.Name
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="col">
                                <form class="  text-center d-flex flex-column align-items-end justify-content-end">
                                    <div>
                                        <a href="@Url.Action("Salir", "Account")" class="main_nav_item btn btn-danger">Salir</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--//perfil / salir -->
                    }

                    else
                    {
                        <!-- login / register -->
                        <div class="col">

                            <form class=" text-center d-flex flex-column align-items-center justify-content-center">
                                <div>
                                    <a class="nav-link btn btn-outline-light" href="@Url.Action("Login", "Account")">IniciarSesion</a>
                                </div>
                            </form>

                        </div>
                        <div class="col-1">

                            <form class=" text-center d-flex flex-column align-items-center justify-content-center">

                                <a class="nav-link btn btn-outline-light" href="@Url.Action("Registration", "Account")">Registrarme</a>

                            </form>
                        </div>
                    }
                    <!-- //login / register -->
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <!-- Script files -->
    <script src="~/Js/navResponsive.js"></script>
    <!-- //Script files -->
</body>

</html>