﻿<!DOCTYPE html>
<html>
<head>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" />
    <!-- //for-mobile-apps -->
    <!-- Script -->
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Script -->
    <!-- Script files -->
    <!-- //Script files -->
    <!-- css files -->

    <link href="~/css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    

    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/bootstrap4/main_styles.css" rel="stylesheet" type="text/css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">


    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width" />
    <!-- //css files -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //google fonts -->
</head>
<body>
    <div class="">
        <nav class="">
            <!-- Logo -->
            <div class="logo"
                <a href="@Url.Action("Index", "Home")"> <img src="~/images/logo.png" /> </a>
            </div>
            <!--//Logo -->
            <!-- Main Navigation -->
            <ul class="nav-links container">
                @if (Request.IsAuthenticated)
                {
                    <li class="main_nav_item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li class="main_nav_item"><a href="@Url.Action("Index", "Module")">Módulos</a></li>
                    <li class="main_nav_item"><a href="@Url.Action("Index", "VirtualTest")">Pruebas Virtuales</a></li>
                    <li class="main_nav_item"><a href="@Url.Action("Index", "Questions")">Preguntas</a></li>
                    <ul class="nav-links ">
                        @if (ViewBag.role == 1)
                        {
                            <li class="main_nav_item"><a href="@Url.Action("Index", "CourseType")"> Tipo de cursos</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("Index", "Schedule")">Horario</a></li>
                            <li class="main_nav_item"><a href="@Url.Action("Index", "TestType")">Tipo de prueba</a></li>
                        }

                    </ul>
                }

            </ul>

            <!--//Main Navigation -->
            <!-- Menu hamburguesa -->
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <!--//Menu hamburguesa -->

            <div class="ml-5 pl-3 justify-content-end">
                <div class="row main_nav py-3">

                    <a class="main_nav_item btn btn-outline-warning" href="@Url.Action("Index","Admin")">Volver</a>
                   

                </div>
            </div>

        </nav>
    </div>


</body>

</html>
